# Tuple Python

In [4]:
#Tuple
#Tuple digunakan untuk menyimpan beberapa item dalam satu variabel

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [5]:
#Tuple Items
#Ketika kita mengatakan bahwa tupel dipesan, itu berarti item memiliki urutan yang ditentukan,
#dan urutan itu tidak akan berubah.

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
#Tuple Length
#Untuk menentukan berapa banyak item yang dimiliki sebuah tuple, gunakan len()fungsi:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [7]:
#Create Tuple With One Item
#Untuk membuat Tuple dengan hanya satu item, Kita harus menambahkan koma setelah item,
#jika tidak Python tidak akan mengenalinya sebagai Tuple.

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [21]:
#Tuple Items - Data Types
#Item tuple dapat berupa tipe data apa pun:
#String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print("===============================")
print(tuple1)
print(tuple2)
print(tuple3)
print("===============================")
print("                               ")
print("===============================")

#Tuple dapat berisi tipe data yang berbeda:
#Tuple dengan string, integer, dan nilai boolean:

tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)
print("===============================")

===============================
('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
===============================

===============================
('abc', 34, True, 40, 'male')
===============================

In [19]:
#type()
#Dari perspektif Python, tupel didefinisikan sebagai objek dengan tipe data 'tuple':

mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

In [20]:
#The tuple() Constructor
#Dimungkinkan juga untuk menggunakan konstruktor Tuple() untuk membuat Tuple.

thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

## Acces Tuple

In [2]:
#Access Tuple Items
#kita dapat mengakses item Tuple dengan mengacu pada nomor indeks, di dalam tanda kurung siku:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [3]:
#Negative Indexing
#Pengindeksan negatif berarti mulai dari akhir.
#-1mengacu pada item terakhir, -2mengacu pada item terakhir kedua dll.

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [11]:
#Range of Indexes
#Return the third, fourth, and fifth item:
#kita dapat menentukan rentang indeks dengan menentukan di mana harus memulai dan di mana harus mengakhiri rentang.

print("===============================")
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print("===============================")
print("                               ")
print("===============================")

#Dengan mengabaikan nilai awal, rentang akan dimulai pada item pertama:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])
print("===============================")
print("                               ")
print("===============================")

#Dengan mengabaikan nilai akhir, rentang akan berlanjut ke akhir daftar:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])
print("===============================")

===============================
('cherry', 'orange', 'kiwi')
===============================

===============================
('apple', 'banana', 'cherry', 'orange')
===============================

===============================
('cherry', 'orange', 'kiwi', 'melon', 'mango')
===============================

In [6]:
#Range of Negative Indexes
#Menentukan indeks negatif jika kita ingin memulai pencarian dari akhir Tuple:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [13]:
#Check if Item Exists
#Untuk menentukan apakah item tertentu ada dalam tuple, gunakan inkata kunci:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Update Tuples

In [14]:
#Change Tuple Values
#Tuple tidak dapat diubah, artinya kita tidak dapat mengubah, menambah, atau menghapus item setelah tupel dibuat.
#ada solusi untuk mengonversi Tuple menjadi daftar, mengubah daftar, dan mengonversi daftar kembali menjadi Tuple.

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [17]:
#Add Items
#Ada Solusi juga untuk menambahkan item. 

# 1 Sama seperti solusi untuk mengubah tuple, 
#Anda dapat mengubahnya menjadi daftar, menambahkan item Anda, dan mengubahnya kembali menjadi tuple.

print("===============================")
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)
print("===============================")
print("                               ")
print("===============================")

# 2 buat tupel baru dengan item tersebut, dan tambahkan ke tupel yang ada:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)
print("===============================")

===============================
('apple', 'banana', 'cherry', 'orange')
===============================

===============================
('apple', 'banana', 'cherry', 'orange')
===============================

In [7]:
#Remove Items
#Ada 2 Cara untuk menghapus item di  tuple ini
# 1 Ubah Tuple menjadi daftar, hapus "apple", dan ubah kembali menjadi Tuple:

print("===============================")
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

print("===============================")
print("                               ")
print("===============================")

# 2 kita dapat menghapus Tuple sepenuhnya:
#Kata delkunci dapat menghapus Tuple sepenuhnya:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

===============================
('banana', 'cherry')
===============================

===============================

NameError: name 'thistuple' is not defined

## Unpack Tuples

In [8]:
#Unpacking a Tuple
#kita membuat sebuah tuple, kita biasanya memberikan nilai padanya. Ini disebut "mengemas" sebuah tuple:

print("===============================")
fruits = ("apple", "banana", "cherry")

print(fruits)

print("===============================")
print("                               ")
print("===============================")
#Tapi dalam Python, kita juga diperbolehkan untuk mengekstrak nilai kembali ke dalam variabel. Ini disebut "membongkar atau membuka ulang nilai":

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)
print("===============================")

===============================
('apple', 'banana', 'cherry')
===============================

===============================
apple
banana
cherry
===============================

In [9]:
#Using Asterisk
#Kita dapat menambahkan *  ke nama variabel dan nilai akan ditetapkan ke variabel sebagai daftar:
#Misal, Tetapkan sisa nilai sebagai daftar yang disebut "merah":

print("===============================")
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)
print("===============================")
print("                               ")
print("===============================")

#Jika tanda bintang ditambahkan ke nama variabel lain selain yang terakhir, Python akan memberikan nilai 
#ke variabel hingga jumlah nilai yang tersisa cocok dengan jumlah variabel yang tersisa.

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)
print("===============================")

===============================
apple
banana
['cherry', 'strawberry', 'raspberry']
===============================

===============================
apple
['mango', 'papaya', 'pineapple']
cherry
===============================

# Loop Tuples

In [10]:
#Loop Through a Tuple
#dapat mengulang item Tuple dengan menggunakan forloop.

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [11]:
#Loop Through the Index Numbers
#Kita juga dapat mengulang item Tuple dengan mengacu pada nomor indeksnya.
#Gunakan fungsi range()and len()untuk membuat iterable yang sesuai.

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [13]:
#Using a While Loop
#Kita dapat mengulang item daftar dengan menggunakan whileloop.
#Gunakan len()fungsi untuk menentukan panjang tupel, lalu mulai dari 0 dan ulangi item tupel dengan mengacu pada indeksnya.

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Join Tuples

In [14]:
#Join Two Tuples
#Kita dapat menggunakan + operator untuk menggabungkan dua atau lebih tupel.

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [15]:
#Multiply Tuples
#Kita dapat menggunakan * operator Jika kita ingin mengalikan konten Tuple beberapa kali

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Tuple Methods

### count()

In [16]:
#Mengembalikan berapa kali nilai tertentu muncul dalam sebuah tuple

### Index()

In [ ]:
#Mencari tuple untuk nilai yang ditentukan dan mengembalikan posisi di mana ia ditemukan