In [22]:
"""variabel Python"""

'variabel Python'

In [21]:
#disini kita akan belajar menggunakan variabel Python
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)
#contoh lainnya  dari variabel Python

Sally

In [4]:
#masih di Variabel Python kita belajar memakai Casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
#tidak terjadi apa-apa karena disini tidak ada perintah

In [6]:
#masih di Variabel Python kita belajar memakai Get the Type
x = 5
y = "John"
print(type(x))
print(type(y))
#yang kita ketahui disini kita bisa melihat bahwasannya type yang digunakan no 5 itu adalah class int dan nama John itu adalah class str
#disini bisa dikatakan sebagai pemanggilan class

<class 'int'>
<class 'str'>

In [9]:
#masih di Variabel Python kita belajar memakai Single or Double Quotes?
x = "John"
# is the same as
x = 'John'
#tidak terjadi apa-apa jika kita tidak melakukan perintah
print(x)
#jika kita ketik print x maka hasilnya akan sama

John

In [14]:
#masih di Variabel Python kita belajar memakai Case-Sensitive
a = 4
A = "Sally"
#A will not overwrite a
print(a, A)
#jika kita menggunakan kalimat kedua ini maka keduanya bisa dibilang similar utuk sebuah variabel

4 Sally

In [16]:
"""Variabel Names"""

'Variabel Names'

In [19]:
#kita akan belajar variabel names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
#jika seharusnya pada nama variabel 2myvar = "John", my-var = "John", my var = "John" akan terjadi error
#Ingat bahwa nama variabel akan sensitif terhadap huruf besar-kecil

In [20]:
"""Assign Multiple Values"""

'Assign Multiple Values'

In [24]:
#kita akan belajar Assign Multiple Values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
#Pastikan jumlah variabel sesuai dengan jumlah nilai, atau bisa terjadinya error.

Orange
Banana
Cherry

In [27]:
#masih di Assign Multiple Values kita belajar memakai Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
#Jika kita memiliki kumpulan nilai dalam daftar, tupel dll.
#dapat memungkinkan untuk mengekstrak nilai ke dalam variabel. Ini juga bisa disebut membongkar.

apple
banana
cherry

In [28]:
"""Output Variables"""

'Output Variables'

In [30]:
#kita akan belajar Output Variables
x = "awesome"
print("Python is " + x)
#Jika kita menambahkan inputan di perintah maka itu dia akan terpanggil juga saat memanggil

Python is awesome

In [32]:
#contoh lain, kita juga dapat menggunakan karakter + untuk menambahkan variabel ke variabel lain
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [33]:
#contoh lainnya, Untuk angka + karakter akan berfungsi sebagai operator matematika
x = 5
y = 10
print(x + y)

15

In [35]:
#contoh jika terjadi error
x = 5
y = "John"
print(x + y)
#Jika kita mencoba menggabungkan string dan angka, disini kita akan mendapatkan error tipedata

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
"""Global Variables"""

'Global Variables'

In [38]:
#kita akan belajar Global Variables
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()
#Variabel yang dibuat di luar fungsi (seperti contoh di atas) dikenal sebagai variabel global.

Python is awesome

In [40]:
#contoh lain, jika kita membuat variabel di dalam fungsi, dengan nama yang sama di variabel global
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [42]:
#masih di Global Variables kita belajar memakai The global Keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)
#Jika kita menggunakan kata kunci global, variabel tersebut termasuk dalam lingkup global

Python is fantastic

In [43]:
#contoh lain, Untuk mengubah nilai variabel global di dalam suatu fungsi, kita bisa lihat variabel tersebut dengan menggunakan kata kunci global
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic