# Python Sets

### Set

In [1]:
#Set digunakan untuk menyimpan beberapa item dalam satu variabel.

thisset = {"apple", "banana", "cherry"}
print(thisset)

### Duplicates Not Allowed

In [3]:
#Set tidak boleh memiliki dua item dengan nilai yang sama.

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

### Get the Length of a Set

In [4]:
#Untuk menentukan berapa banyak item yang dimiliki satu set, gunakan len() fungsi.

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

### Set Items - Data Types

In [5]:
#Item yang disetel dapat berupa tipe data apa pun:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

### type()

In [6]:
#Dari perspektif Python, set didefinisikan sebagai objek dengan tipe data 'set':

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

### set() Constructor

In [8]:
#Dimungkinkan juga untuk menggunakan konstruktor set() untuk membuat set

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

# Access Set Items

### Access Items

In [9]:
#Kita tidak dapat mengakses item dalam kumpulan dengan mengacu pada indeks atau kunci.
#Tetapi kita dapat mengulang item yang disetel menggunakan (for) loop, 
#atau menanyakan apakah nilai yang ditentukan ada dalam set, dengan menggunakan (in) kata kunci.

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

# Add Set Items

### Add Items

In [11]:
#Untuk menambahkan satu item ke set, gunakan add() metode.

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

### Add Sets

In [13]:
#Untuk menambahkan item dari set lain ke set saat ini, gunakan update() metode.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'pineapple', 'papaya', 'apple', 'mango', 'cherry'}

### Add Any Iterable

In [15]:
#Objek dalam update()metode tidak harus berupa kumpulan, dapat berupa objek yang dapat diubah (tupel, daftar, kamus, dll.).

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'kiwi', 'apple', 'cherry'}

# Python - Remove Set Items

### Remove Item

In [17]:
#Untuk menghapus item dalam kumpulan, gunakan remove(), atau discard()metode.

#Hapus "pisang" dengan menggunakan remove() metode:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [18]:
#Hapus "pisang" dengan menggunakan discard() metode:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [19]:
#Hapus item terakhir dengan menggunakan pop() metode:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [20]:
#Metode clear() mengosongkan set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [22]:
#Kata (del) kunci akan menghapus set sepenuhnya:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset

NameError: name 'thisset' is not defined

# Loop Items

In [23]:
#kita dapat mengulang item yang disetel dengan menggunakan for loop:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

# Python - Join Sets

### Join Two Sets

In [25]:
#Kita dapat menggunakan union() metode yang mengembalikan set baru yang berisi semua item dari kedua set, 
#atau update()metode yang menyisipkan semua item dari satu set ke set lainnya:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

### Keep ONLY the Duplicates

In [27]:
#Metode intersection_update()ini hanya akan menyimpan item yang ada di kedua set.
#Simpan item yang ada di kedua set x, dan set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

### Keep All, But NOT the Duplicates

In [29]:
#Metode symmetric_difference_update()ini hanya akan menyimpan elemen yang TIDAK ada di kedua set.
#Simpan item yang tidak ada di kedua set:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'google', 'microsoft', 'cherry'}

# Python - Set Methods

In [ ]:
#add()	Adds an element to the set

#clear()	Removes all the elements from the set

#copy()	Returns a copy of the set

#difference()	Returns a set containing the difference between two or more sets

#difference_update()	Removes the items in this set that are also included in another, specified set

#discard()	Remove the specified item

#intersection()	Returns a set, that is the intersection of two other sets

#intersection_update()	Removes the items in this set that are not present in other, specified set(s)

#isdisjoint()	Returns whether two sets have a intersection or not

#issubset()	Returns whether another set contains this set or not

#issuperset()	Returns whether this set contains another set or not

#pop()	Removes an element from the set

#remove()	Removes the specified element

#symmetric_difference()	Returns a set with the symmetric differences of two sets

#symmetric_difference_update()	inserts the symmetric differences from this set and another

#union()	Return a set containing the union of sets

#update()	Update the set with the union of this set and others