# Python Operators

In [1]:
print(10 + 5)

15

# Python Arithmetic Operators

In [2]:
x = 5
y = 3

print(x + y)

8

In [3]:
x = 5
y = 3

print(x - y)

2

In [4]:
x = 5
y = 3

print(x * y)

15

In [5]:
x = 12
y = 3

print(x / y)

4.0

In [6]:
x = 5
y = 2

print(x % y)

1

In [7]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [8]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

# Python Assignment Operators

In [9]:
x = 5

print(x)

5

In [10]:
x = 5

x += 3

print(x)

8

In [11]:
x = 5

x -= 3

print(x)

2

In [12]:
x = 5

x *= 3

print(x)

15

In [13]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [14]:
x = 5

x%=3

print(x)

2

In [15]:
x = 5

x//=3

print(x)

1

In [16]:
x = 5

x **= 3

print(x)

125

In [17]:
x = 5

x &= 3

print(x)

1

In [18]:
x = 5

x |= 3

print(x)

7

In [19]:
x = 5

x ^= 3

print(x)

6

In [20]:
x = 5

x >>= 3

print(x)

0

In [21]:
x = 5

x <<= 3

print(x)

40

# Python Comparison Operators

In [22]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [23]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [24]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [25]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [26]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [28]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

# Python Logical Operators

In [29]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [30]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [31]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

# Python Identity Operators

In [32]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [33]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Python Membership Operators

In [34]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [35]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

Operator(Name):Description
1. &(AND)	 : Sets each bit to 1 if both bits are 1
2. |(OR)	 : Sets each bit to 1 if one of two bits is 1
3.  ^(XOR)	 : Sets each bit to 1 if only one of two bits is 1
4. ~ (NOT)	 : Inverts all the bits
5. << (Zero fill left shift) : Shift left by pushing zeros in from the right and let the leftmost bits fall off
6. #>> (Signed right shift)	 : Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

# Python If ... Else

# Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

# If

In [36]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

# Indentation

In [1]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block (<ipython-input-1-4276c1871af7>, line 4)

# Elif

In [37]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# Else

In [38]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [39]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Short Hand If

In [40]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

# Short Hand If ... Else

In [41]:
a = 2
b = 330

print("A") if a > b else print("B")

B

In [42]:
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

=

# And

In [43]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# Or

In [44]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Nested If

In [45]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# The pass Statement

In [46]:
a = 33
b = 200

if b > a:
  pass

# having an empty if statement like this, would raise an error without the pass statement

# Python Loops
Python has two primitive loop commands:

- while loops

- for loops

# Python While Loops

In [47]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# The break Statement

In [48]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

# The continue Statement

In [49]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# Note that number 3 is missing in the result

1
2
4
5
6

# The else Statement

In [50]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops

In [51]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# Looping Through a String

In [52]:
for x in "banana":
  print(x)

b
a
n
a
n
a

# The break Statement

In [53]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [54]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

# The continue Statement

In [55]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# The range() Function

In [56]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [57]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [58]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

# Else in For Loop

In [59]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [60]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

#If the loop breaks, the else block is not executed.

0
1
2

# Nested Loops

In [61]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# The pass Statement

In [63]:
for x in [0, 1, 2]:
  pass

# having an empty for loop like this, would raise an error without the pass statement