**Python Arithmetic Operators**

*+	Addition	x + y*

In [1]:
x = 5
y = 3

print(x + y)

8

*-	Subtraction	x - y*

In [2]:
x = 5
y = 3

print(x - y)

2

*Multiplication	x * y

In [3]:
x = 5
y = 3

print(x * y)

15

*/	Division	x / y*

In [4]:
x = 12
y = 3

print(x / y)

4.0

*%	Modulus	x % y*

In [5]:
x = 5
y = 2

print(x % y)

1

**	Exponentiation	x ** y

In [6]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

//	Floor division	x // y

In [7]:
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

**Python Assignment Operators**

=

In [8]:
x = 5

print(x)

5

+=

In [9]:
x = 5

x += 3

print(x)

8

-=

In [10]:
x = 5

x -= 3

print(x)

2

*=

In [11]:
x = 5

x *= 3

print(x)

15

/=

In [12]:
x = 5

x /= 3

print(x)

1.6666666666666667

%=

In [13]:
x = 5

x%=3

print(x)

2

//=

In [14]:
x = 5

x//=3

print(x)

1

**=

In [15]:
x = 5

x **= 3

print(x)

125

&=

In [16]:
x = 5

x &= 3

print(x)

1

|=

In [17]:
x = 5

x |= 3

print(x)

7

^=

In [18]:
x = 5

x ^= 3

print(x)

6

'>>='

In [19]:
x = 5

x >>= 3

print(x)

0

<<=

In [20]:
x = 5

x <<= 3

print(x)

40

**Python Comparison Operators**

==

In [21]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

!=

In [22]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

'>'

In [23]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

'<'

In [24]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

'>='

In [25]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

'<='

In [26]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

**Python Logical Operators**

and

In [27]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

or

In [28]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

not

In [29]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

**Python Identity Operators**

is

In [30]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

is not

In [31]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

**Python Membership Operator**

in

In [32]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

not in

In [33]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True