Pada Tugas 1 ini, telah dipraktekkan penggunaan code python sesuai web w3school yaitu : syntax, comment, variables, data types, numbers, casting, strings, dan boolean.

## Python Introduction

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for; web development (server-side), software development, mathematics, and system scripting.

## Python Syntax

In [1]:
print("Hello, World!")

Hello, World!

## Python Indentation

In [7]:
if 5 > 2:
    print("Five is greater than two")
if 5 > 1:
                print("Five is greater than one") #indentation bebas, but at least 1

Five is greater than two
Five is greater than one

## Comments

In [14]:
#komentar ditulis dengan tagar
print('percy08')

percy08

In [13]:
""" komentar dengan tiga tanda petik """
print('percy08')

percy08

## Python Variables

### Creating Variables

In [21]:
x=8
y='percy'
print(y,x)

percy 8

In [19]:
x=8
x=800
print(x)

800

### Casting

In [26]:
x = str(8)
y = int(8)
z = float(8)
print (x)
print(y, z)

8
8 8.0

### Get the Type

In [25]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

### Case Sensitive

In [27]:
a = 'Mely'
A = "Melyatul"
print(a)
print(A)

Mely
Melyatul

## Variable Names

In [29]:
#DO
myvar = "John"
my_var = "John" #Snake Case
_my_var = "John"
myVar = "John" #Camel Case
MyVar = 'John' #Pascal Case
MYVAR = "John"
myvar2 = "John"
print(my_var)
print(_my_var)

John
John

In [30]:
#DONTS
2myvar = "John"
my-var = "John"
my var = "John"
print(my-var)

SyntaxError: invalid syntax (<ipython-input-30-016323a33b48>, line 1)

## Assign Multiple Vaues

### Many Values to Multiple Variables

In [31]:
a, b, c = "Jeruk", "Pisang", "Mangga"
print(a)
print(b)
print(c)

Jeruk
Pisang
Mangga

### One Value to Multiple Variables

In [32]:
a = b = c = "Jeruk"
print(a)
print(b)
print(c)

Jeruk
Jeruk
Jeruk

### Unpack a Collection

In [38]:
buah = ["apel", "pisang", "jambu"]
a, b, c = buah
print(a)
print(b)
print(c)
#jumlah elemen pada list dan variabel harus sama

apel
pisang
jambu

## Output Variables

In [39]:
name = "percy08"
print("My name is " + name)

My name is percy08

In [43]:
opening = "My name is"
name = "percy08"
print(opening + name)

My name ispercy08

In [44]:
#Tidak bisa menggabungkan int dan str
number = 8
name = "percy08"
print(number + name)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Global Variables

In [48]:
x = "Orbit"

def myfunc():
  print("Saya belajar di " + x)

myfunc()

Saya belajar di Orbit

In [47]:
x = "Orbit"

def myfunc():
  x = "OFA"
  print("Saya belajar di " + x)

myfunc()

print("Saya belajar di " + x)

Saya belajar di OFA
Saya belajar di Orbit

### The Global Keyword

In [49]:
def myfunc():
  global x
  x = "Orbit"

myfunc()

print("Saya belajar di " + x)

Saya belajar di Orbit

In [50]:
x = "OFA"

def myfunc():
  global x
  x = "Orbit"

myfunc()

print("Saya belajar di " + x)

Saya belajar di Orbit

## Python Data Types

In [55]:
a = ["apel", "pisang", "delima"]
b = ("apel", "pisang", "delima")
c = range(8)
d = {"name" : "percy08", "tugas" : 1}
e = {"apel", "pisang", "delima"}
f = frozenset({"apel", "pisang", "delima"})
g = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>

## Python Numbers

There are three numeric types in Python: int, float, and complex

In [56]:
i1 = 8
i2 = 90823912801210915
i3 = -890332
f1 = 8.80
f2 = 8.0
f3 = -89.6e100
c1 = 3+5j
c2 = 5j
c3 = -5j
print(type(i1))
print(type(i2))
print(type(i3))
print(type(f1))
print(type(f2))
print(type(f3))
print(type(c1))
print(type(c2))
print(type(c3))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

### Type Conversion

In [58]:
x = 8    # int
y = 3.8  # float
z = 8j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

8.0
3
(8+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Random Number

In [59]:
import random

print(random.randrange(1, 8))

2

## Python Casting

In [60]:
x = int(2.8)
print(x)

2

In [61]:
x = float(8)
print(x)

8.0

In [62]:
z = str(3.0)
print(z)

3.0

## Python Strings

### Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

### Assign String to a Variable

In [64]:
a = "Assalamualaikum"
print(a)

Assalamualaikum

### Multiline Strings

In [65]:
a = """String ini ditulis dalam multiline
ada beberapa baris string
jika multiline bisa memakai 3 buah tanda kutip"""
print(a)

String ini ditulis dalam multiline
ada beberapa baris string
jika multiline bisa memakai 3 buah tanda kutip

### Strings are Arrays

In [67]:
a = "Hello, Indonesia"
print(a[5])
print(a[0])

,
H

### Looping Through a String

In [ ]:
for x in "banana":
  print(x)

### String Length

In [ ]:
a = "Hello, World!"
print(len(a))

### Check String

In [70]:
txt = "Saya belajar di Orbit"
print("belajar" in txt)

True

In [75]:
txt = "Saya belajar di Orbit"
if "belajar" in txt:
  print("Ya, saya belajar")

Ya, saya belajar

### Check if NOT

In [73]:
txt = "Saya belajar di Orbit"
print("Microsoft" not in txt)

True

In [76]:
txt = "Saya belajar di Orbit"
if "Microsoft" not in txt:
  print("Saya tidak belajar di Microsoft.")

Saya tidak belajar di Microsoft.

## Slicing Strings

### Slicing

In [78]:
b = "Hai, Orbit!"
print(b[3:7])

, Or

### Slice from the Start

In [80]:
b = "Hai, Orbit!"
print(b[:7])

Hai, Or

### Slice To The End

In [81]:
b = "Hai, Orbit!"
print(b[2:])

i, Orbit!

### Negative Indexing

In [84]:
b = "Hai, Orbit!"
print(b[-7:-1])

 Orbit

## Modify String

### Upper Case

In [85]:
a = "Hai, Orbit!"
print(a.upper())

HAI, ORBIT!

### Lower Case

In [87]:
a = "Hai, Orbit!"
print(a.lower())

hai, orbit!

### Remove Whitespace

In [88]:
a = " Hai, Orbit! "
print(a.strip())

Hai, Orbit!

### Replace String

In [90]:
a = "Hai, Orbit!"
print(a.replace("Orbit", "OFA"))

Hai, OFA!

### Split String

In [91]:
a = "Hai, Orbit!"
print(a.split(","))

['Hai', ' Orbit!']

## String Concatenation

In [95]:
a = "Hai"
b = "Orbit"
c = a + b
print(c)

HaiOrbit

In [94]:
a = "Hai"
b = "Orbit"
c = a + " " + b
print(c)

Hai Orbit

## Format Strings

### String Format

In [96]:
tugas = 1
txt = "Ini adalah tugas " + tugas
print(txt)

TypeError: can only concatenate str (not "int") to str

In [97]:
tugas = 1
txt = "Ini adalah tugas {}"
print(txt.format(tugas))

Ini adalah tugas 1

In [99]:
kode = 8
tugas = 1
tanggal = "04 Maret 2022"
informasi = "Saya percy {} mengumpulkan tugas {} pada tanggal {} ."
print(informasi.format(kode, tugas, tanggal))

Saya percy 8 mengumpulkan tugas 1 pada tanggal 04 Maret 2022 .

In [102]:
kode = 8
tugas = 1
tanggal = "04 Maret 2022"
informasi = "Saya percy {2} mengumpulkan tugas {0} pada tanggal {1} ."
print(informasi.format(kode, tugas, tanggal))

Saya percy 04 Maret 2022 mengumpulkan tugas 8 pada tanggal 1 .

## Escape Characters

In [98]:
#tidak boleh ada tanda petik dalam tanda petik
txt = "Saya belajar di "Orbit"."
print(txt)

SyntaxError: invalid syntax (<ipython-input-98-7371c0f0f904>, line 2)

In [103]:
txt = "Saya belajar di \"Orbit\"."
print(txt)

Saya belajar di "Orbit".

## String Methods

### String Methods

Python has a set of built-in methods that you can use on strings.
This is a example to Converts the first character to upper case

In [106]:
informasi = "saya belajar di Orbit"
print(informasi.capitalize())

Saya belajar di orbit

## Python Booleans

### Boolean Values

In [107]:
print(8 > 900)
print(8 == 900)
print(8 < 900)

False
False
True

In [113]:
a = 8
b = 900

if b > a:
  print("b lebih besar dari a")
else:
  print("b tidak lebih besar dari a")

b lebih besar dari a

### Evaluate Values and Variables

In [114]:
print(bool("Orbit"))
print(bool(8))

True
True

### Most Values are True

In [115]:
bool("Orbit")
bool(800)
bool(["orbit", "future", "academy"])

True

### Some Values are False

In [116]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [117]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Functions can Return a Boolean

In [118]:
def myFunction() :
  return True

print(myFunction())

True

In [119]:
def myFunction() :
  return True


if myFunction():
  print("YA!")
else:
  print("TIDAK!")

YA!

In [120]:
x = 8
print(isinstance(x, int))

True