
# Python Home

In [31]:
print("Hello, World!")

Hello, World!

# Python Syntax

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

# Python Comments

In [3]:
#ini komen
print("Hello, World!")

Hello, World!

# Python Variables

In [4]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [5]:
x = 4
x = "Sally"
print(x)

Sally

In [6]:
#Casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [7]:
print(x)
print(y)
print(z)

3
3
3.0

In [8]:
#Get the Type
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [9]:
#Single or Double Quotes?
x = "John"
print(x)
x = 'John'
print(x)

John
John

In [10]:
#Case-Sensitive
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

**Python Variable - Variable Names**

In [11]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [12]:
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

**Python Variable - Assign Multiple Values**

In [13]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"

In [14]:
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [15]:
#One Value to Multiple Variables
x = y = z = "Orange"

In [16]:
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [17]:
#Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

In [18]:
print(x)
print(y)
print(z)

apple
banana
cherry

**Python Variables - Output Variables**

In [19]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [20]:
x = "Python is "
y = "awesome"
z = x + y
print(z)

Python is awesome

In [21]:
x = 5
y = 10
print(x + y)

15

**Python Variables - Global Variables**

In [22]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [23]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [24]:
#The global Keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [25]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Data Types

In [26]:
x = 5
print(type(x))

<class 'int'>

In [27]:
#Setting the Data Type
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [28]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [32]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [33]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [34]:
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [35]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [36]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [37]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [38]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [39]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [40]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [41]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [42]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [43]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x00000234BAAD7700>
<class 'memoryview'>

In [44]:
#Setting the Specific Data Type
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

In [45]:
x = int(20)
print(x)
print(type(x))

20
<class 'int'>

In [46]:
x = float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

In [47]:
x = complex(1j)
print(x)
print(type(x))

1j
<class 'complex'>

In [48]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [49]:
x = tuple(("apple", "banana", "cherry"))
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [50]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [51]:
x = dict(name="John", age=36)
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [52]:
x = set(("apple", "banana", "cherry"))
print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [53]:
x = frozenset(("apple", "banana", "cherry"))
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [54]:
x = bool(5)
print(x)
print(type(x))

True
<class 'bool'>

In [55]:
x = bytes(5)
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [56]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [57]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x00000234BAAD7700>
<class 'memoryview'>

# Python Numbers

In [58]:
x = 1
y = 2.8
z = 1j

In [59]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [60]:
#Int
x = 1
y = 35656222554887711
z = -3255522

In [61]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [62]:
#Python Numbers
#Float
x = 1.10
y = 1.0
z = -35.59

In [63]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [64]:
x = 35e3
y = 12E4
z = -87.7e100

In [65]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [66]:
#Complex
x = 3+5j
y = 5j
z = -5j

In [67]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [68]:
#Type Conversion
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(x)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Casting

In [70]:
#Integers
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [71]:
#Floats
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [72]:
#Strings
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

# Python Strings

In [73]:
print("Hello")
print('Hello')

Hello
Hello

In [74]:
#Tetapkan String ke Variabel
a = "Hello"
print(a)

Hello

In [75]:
#String Multiline
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [76]:
#String adalah Array
a = "Hello, World!"
print(a[1])

e

In [77]:
#Looping Melalui String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [78]:
#String Length
a = "Hello, World!"
print(len(a))

13

In [79]:
#Check String
txt = "The best things in life are free!"
print("free" in txt)

True

In [80]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [81]:
#Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [82]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

**Python Strings - Slicing Strings**

In [83]:
#Slicing
b = "Hello, World!"
print(b[2:5])

llo

In [84]:
#Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [85]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

llo, World!

In [86]:
#Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

**Python Strings - Modify Strings**

In [87]:
#Upper Case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [88]:
#Lower Case
a = "Hello, World!"
print(a.lower())

hello, world!

In [89]:
#Remove Whitespace
a = " Hello, World! "
print(a.strip())

Hello, World!

In [90]:
#Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [91]:
#Split String
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

**Python - String Concatenation**

In [92]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [93]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Python Strings - Format - Strings**

In [94]:
#Gunakan format()metode untuk memasukkan angka ke dalam string:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [95]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [96]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

**Python Strings - Escape Characters**

In [97]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [98]:
#SIngle Quote (\')
txt = 'It\'s alright.'
print(txt)

It's alright.

In [99]:
#Backslash (\\)
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [100]:
#New Line (\n)
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [101]:
#Carriage Return (\r)
txt = "Hello\rWorld!"
print(txt)

World!

In [102]:
#Tab (\t)
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [103]:
#Backspace (\b)
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [104]:
#Octal value (\ooo)
txt = "\110\145\154\154\157"
print(txt)

Hello

In [106]:
#Hex value (\xhh)
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

# Python Booleans

In [107]:
#Boolean Values
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [108]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [109]:
#Evaluate Values and Variables
print(bool("Hello"))
print(bool(15))

True
True

In [110]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [111]:
#Most Values are True
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [112]:
#Some Values are False
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [113]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [114]:
#Functions can Return a Boolean
def myFunction() :
  return True

print(myFunction())

True

In [115]:
#Cetak "YA!" jika fungsi mengembalikan True, jika tidak, cetak "NO!":
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [116]:
#Periksa apakah suatu objek adalah bilangan bulat atau tidak:
x = 200
print(isinstance(x, int))

True

# Python Lists

In [117]:
#List
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [118]:
#Allow Duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [119]:
#List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [120]:
#List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [121]:
#Daftar dengan string, integer, dan nilai boolean:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

In [122]:
#Type()
mylist = ["apple", "banana", "cherry"]

print(type(mylist))

<class 'list'>

In [123]:
#The list() Constructor
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

**Python List - Access List Items**

In [124]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [125]:
#Negative Indexing
#Cetak item terakhir dari daftar:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [126]:
#Rentang Indeks
#Kembalikan item ketiga, keempat, dan kelima:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [127]:
#Contoh ini mengembalikan item dari awal, tetapi TIDAK termasuk, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [128]:
#Contoh ini mengembalikan item dari "cherry" ke akhir:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [129]:
#Rentang Indeks Negatif
#Contoh ini mengembalikan item dari "oranye" (-4) ke, tetapi TIDAK termasuk "mangga" (-1):
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [130]:
#Periksa apakah Barang Ada
#Periksa apakah "apel" ada dalam daftar:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**Python List - Change List Items**

In [131]:
#Change Item Value
#Ubah item kedua:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [132]:
#Ubah nilai "pisang" dan "ceri" dengan nilai "blackcurrant" dan "semangka":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [133]:
#Ubah nilai kedua dengan menggantinya dengan dua nilai baru:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [134]:
#Ubah nilai kedua dan ketiga dengan menggantinya dengan satu nilai:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

In [135]:
#Masukkan "semangka" sebagai item ketiga:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

**Python List - Add List Items**

In [136]:
#Append Items
#Menggunakan append()metode untuk menambahkan item:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [137]:
#Masukkan item sebagai posisi kedua:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [138]:
#Tambahkan elemen tropicalke thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [139]:
#Tambahkan elemen Tuple ke daftar:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**Python List - Remove List Items**

In [140]:
#Hapus Item Tertentu
#Hapus "pisang":
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [141]:
#Hapus item kedua:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [142]:
#Hapus item terakhir:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [143]:
#Hapus item pertama:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [144]:
#Hapus seluruh daftar:
thislist = ["apple", "banana", "cherry"]
del thislist

In [145]:
#Hapus konten daftar:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

**Python List - Loop Lists**

In [146]:
#Cetak semua item dalam daftar, satu per satu:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [147]:
#Cetak semua item dengan mengacu pada nomor indeksnya:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [148]:
#Menggunakan Perulangan Sementara
#Cetak semua item, menggunakan whileloop untuk menelusuri semua nomor indeks
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [149]:
#Perulangan Menggunakan Pemahaman List
#Lingkaran tangan pendek foryang akan mencetak semua item dalam List:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

**Python List - List Comprehension**

In [150]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [151]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [153]:
#Hanya terima item yang bukan "apel":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [154]:
#Tanpa if pernyataan:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [155]:
#Anda dapat menggunakan range()fungsi untuk membuat iterable:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
#Terima hanya angka yang lebih rendah dari 5:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [157]:
#Setel nilai dalam daftar baru ke huruf besar:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [158]:
#Setel semua nilai dalam daftar baru ke 'halo':
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [159]:
#Kembalikan "oranye" alih-alih "pisang":
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

**Python List - Sort Lists**

In [160]:
#Urutkan Daftar Secara Alfanumerik
#Urutkan daftar menurut abjad:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [161]:
#Urutkan daftar secara numerik:
thislist = [100, 50, 65, 82, 23]

thislist.sort()

print(thislist)

[23, 50, 65, 82, 100]

In [162]:
#Urutkan daftar secara turun:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse = True)

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [163]:
#Urutkan daftar secara turun:
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse = True)

print(thislist)

[100, 82, 65, 50, 23]

In [165]:
#Sesuaikan Fungsi Sortir
#Urutkan daftar berdasarkan seberapa dekat angkanya dengan 50:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

In [166]:
#Penyortiran peka huruf besar/kecil dapat memberikan hasil yang tidak terduga:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [167]:
#Lakukan pengurutan daftar yang tidak peka huruf besar-kecil:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [168]:
#Membalikkan urutan item daftar:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()

print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

**Python List - Copy Lists**

In [169]:
#Buat salinan daftar dengan copy()metode:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [170]:
#Buat salinan daftar dengan list()metode:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

**Python List - Join Lists**

In [171]:
#Bergabunglah dengan dua daftar:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [172]:
#Tambahkan list2 ke list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [173]:
#Gunakan extend()metode untuk menambahkan list2 di akhir list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python Tuples

In [174]:
#Buat Tupel:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [175]:
#Tuple memungkinkan nilai duplikat:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [176]:
#Panjang Tupel
#Cetak jumlah item dalam tupel:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [177]:
#Buat Tuple Dengan Satu Item
#Satu item tuple, ingat koma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [178]:
#Item Tuple - Tipe Data
#Tipe data string, int dan boolean:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [179]:
#Tuple dengan string, integer, dan nilai boolean:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

In [180]:
#Apa tipe data dari tupel?
mytuple = ("apple", "banana", "cherry")

print(type(mytuple))

<class 'tuple'>

In [181]:
#Tuple() Konstruktor
#Menggunakan metode Tuple() untuk membuat Tuple:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

**Python Tupel - Access Tuple Items**

In [182]:
#Cetak item kedua di Tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [183]:
#Pengindeksan Negatif
#Cetak item terakhir dari tupel:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [184]:
#Kembalikan item ketiga, keempat, dan kelima:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [185]:
#Contoh ini mengembalikan item dari awal, tetapi TIDAK termasuk, "kiwi":
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [186]:
#Contoh ini mengembalikan item dari "cherry" dan ke akhir:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [187]:
#Contoh ini mengembalikan item dari indeks -4 (termasuk) ke indeks -1 (dikecualikan)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [188]:
#Periksa apakah "apple" ada di Tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

**Python Tuple - Update Tuples**

In [189]:
#Ubah Tuple menjadi daftar untuk dapat mengubahnya:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [190]:
#Tambahkan Item
#Ubah Tuple menjadi daftar, tambahkan "oranye", dan ubah kembali menjadi Tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [191]:
#Buat Tuple baru dengan nilai "oranye", dan tambahkan Tuple itu:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [192]:
#Hapus Item
#Ubah Tuple menjadi daftar, hapus "apple", dan ubah kembali menjadi Tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [194]:
#Kata del kunci dapat menghapus Tuple sepenuhnya:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) 
#this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

**Python tuple - Unpack Tuples**

In [195]:
#Mengemas tupel:
fruits = ("apple", "banana", "cherry")

print(fruits)

('apple', 'banana', 'cherry')

In [196]:
#Membongkar tupel:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [197]:
#Tetapkan sisa nilai sebagai daftar yang disebut "merah":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [198]:
#Tambahkan daftar nilai variabel "tropic":
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

**Python Tuple - Loop Tuples**

In [199]:
#Ulangi item dan cetak nilainya:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [200]:
#Cetak semua item dengan mengacu pada nomor indeksnya:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [201]:
#Menggunakan Perulangan Sementara
#Cetak semua item, menggunakan whileloop untuk menelusuri semua nomor indeks:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

**Python Tuple - Join Tuples**

In [202]:
#Bergabung dengan dua tupel:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [203]:
#Kalikan tupel buah dengan 2:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Python Sets

In [204]:
#Buat Set:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [205]:
#Nilai duplikat akan diabaikan:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [206]:
#Dapatkan jumlah item dalam satu set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [207]:
#Tipe data string, int dan boolean:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [208]:
#Himpunan dengan string, integer, dan nilai boolean:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 'male', 40, 'abc'}

In [209]:
#Apa tipe data dari himpunan?
myset = {"apple", "banana", "cherry"}

print(type(myset))

<class 'set'>

In [210]:
#Menggunakan konstruktor set() untuk membuat set:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'banana', 'apple'}

**Python Sets - Access Set Items**

In [211]:
#Ulangi set, dan cetak nilainya:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [212]:
#Periksa apakah "pisang" ada di set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

**Python Sets - Add Set Items**

In [213]:
#Tambahkan item ke set, menggunakan add() metode:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

In [214]:
#Tambahkan elemen dari tropicalke thisset:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'banana', 'apple', 'mango', 'pineapple', 'papaya'}

In [215]:
#Tambahkan Setiap Iterable
#Tambahkan elemen daftar ke di set:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'apple', 'cherry', 'kiwi'}

**Python Sets - Remove Set Items**

In [216]:
#Hapus "pisang" dengan menggunakan remove() metode:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [217]:
#Hapus "pisang" dengan menggunakan discard() metode:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [218]:
#Hapus item terakhir dengan menggunakan pop() metode:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x) #removed item

print(thisset) #the set after removal

cherry
{'banana', 'apple'}

In [219]:
#Metode clear() mengosongkan set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [220]:
#Kata delkunci akan menghapus set sepenuhnya:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #this will raise an error because the set no longer exists

NameError: name 'thisset' is not defined

**Python Sets - Loop Sets**

In [221]:
#Ulangi set, dan cetak nilainya:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

**Python Sets - Join Sets**

In [222]:
#Metode union()mengembalikan set baru dengan semua item dari kedua set:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'a', 'c'}

In [223]:
#Metode update()memasukkan item di set2 ke set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'b', 3, 'a', 'c'}

In [224]:
#Simpan item yang ada di kedua set x, dan set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [225]:
#Kembalikan satu set yang berisi item yang ada di kedua set x, dan set y:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [226]:
#Simpan item yang tidak ada di kedua set:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'google', 'cherry', 'microsoft'}

In [227]:
#Mengembalikan set yang berisi semua item dari kedua set, kecuali item yang ada di keduanya:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'google', 'cherry', 'microsoft'}

# Python Dictionaries

In [228]:
#Membuat dan mencetak kamus:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [229]:
#Cetak nilai "merek" kamus:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [230]:
#Nilai duplikat akan menimpa nilai yang ada:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [231]:
#Cetak jumlah item dalam kamus:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

In [232]:
#Tipe data string, int, boolean, dan daftar:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [233]:
#Cetak tipe data kamus:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

**Python - Access Dictionary Items**

In [234]:
#Dapatkan nilai kunci "model":
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [235]:
#Dapatkan nilai kunci "model":
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [236]:
#Dapatkan daftar kunci:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [237]:
#Tambahkan item baru ke kamus asli, dan lihat bahwa daftar kunci juga diperbarui:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [238]:
#Dapatkan daftar nilainya:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [239]:
#Buat perubahan di kamus asli, dan lihat bahwa daftar nilai juga diperbarui:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [240]:
#Tambahkan item baru ke kamus asli, dan lihat bahwa daftar nilai juga diperbarui:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [241]:
#Dapatkan daftar kunci: pasangan nilai
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [242]:
#Buat perubahan di kamus asli, dan lihat bahwa daftar item juga diperbarui:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [243]:
#Tambahkan item baru ke kamus asli, dan lihat bahwa daftar item juga diperbarui:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [244]:
#Periksa apakah "model" ada dalam kamus:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

**Python - Change Dictionary Items**

In [245]:
#Ubah "tahun" menjadi 2018:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [246]:
#Perbarui "tahun" mobil dengan menggunakan update() metode:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

**Python - Add Dictionary Items**

In [247]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [248]:
#Tambahkan item warna ke kamus dengan menggunakan update() metode:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Python - Remove Dictionary Items**

In [249]:
#Metode pop()ini menghapus item dengan nama kunci yang ditentukan:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [250]:
#Metode popitem()ini menghapus item yang terakhir dimasukkan (dalam versi sebelum 3.7, item acak akan dihapus):
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [251]:
#Kata delkunci menghapus item dengan nama kunci yang ditentukan:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [252]:
#Metode clear()mengosongkan kamus:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

**Python - Loop Dictionaries**

In [253]:
#Cetak semua nama kunci dalam kamus, satu per satu:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [254]:
#Cetak semua nilai dalam kamus, satu per satu:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [255]:
#Anda juga dapat menggunakan values()metode untuk mengembalikan nilai kamus:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [256]:
#Anda dapat menggunakan keys()metode untuk mengembalikan kunci kamus:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

In [257]:
#Ulangi kunci dan nilai , dengan menggunakan items()metode:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

**Python - Copy Dictionaries**

In [258]:
#Buat salinan kamus dengan copy()metode:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [259]:
#Buat salinan kamus dengan dict() fungsi:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Python - Nested Dictionaries**

In [260]:
#Buat kamus yang berisi tiga kamus:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [261]:
#Buat tiga kamus, lalu buat satu kamus yang akan berisi tiga kamus lainnya:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}