## Python Data Types

In [1]:
x = 21
print (type(x))

<class 'int'>

In [2]:
x = "Hello, Ilham Fauzi" #atau x = str"Hello, Ilham Fauzi"
#display x sama dengan bawah
print(x)

#display tipe data sama dengan bawah
print(type(x))

Hello, Ilham Fauzi
<class 'str'>

In [3]:
x = 21 #atau x = int(21)
print(x)
print(type(x))

21
<class 'int'>

In [5]:
x = 17.03 #atau x = float(17.03)
print(x)
print(type(x))

17.03
<class 'float'>

In [6]:
x = 8j #atau x = complex(8j)
print(x)
print(type(x))

8j
<class 'complex'>

In [8]:
x = ["Nasi goreng", "Jamur crispy", "Cimol"] #atau x = list(("Nasi goreng", "Jamur crispy", "Cimol"))
print(x)
print(type(x))

['Nasi goreng', 'Jamur crispy', 'Cimol']
<class 'list'>

In [9]:
x = ("Nasi goreng", "Jamur crispy", "Cimol") #atau x = tuple(("Nasi goreng", "Jamur crispy", "Cimol"))
print(x)
print(type(x))

('Nasi goreng', 'Jamur crispy', 'Cimol')
<class 'tuple'>

In [10]:
x = range(8)
print(x)
print(type(x))

range(0, 8)
<class 'range'>

In [11]:
x = {"Name" : "Ilham Fauzi", "Age" : 21} #atau x : dict("Name" : "Ilham Fauzi", "Age" : 21)
print(x)
print(type(x))

{'Name': 'Ilham Fauzi', 'Age': 21}
<class 'dict'>

In [12]:
x = {"Nasi Goreng", "Jamur Crispy", "Cimol"} #atau x = set(("Nasi Goreng", "Jamur Crispy", "Cimol"))
print(x)
print(type(x))

{'Nasi Goreng', 'Cimol', 'Jamur Crispy'}
<class 'set'>

In [13]:
x = frozenset({"Nasi Goreng", "Jamur Crispy", "Cimol"}) #atau x = frozenset(("Nasi Goreng", "Jamur Crispy", "Cimol"))
print(x)
print(type(x))

frozenset({'Nasi Goreng', 'Cimol', 'Jamur Crispy'})
<class 'frozenset'>

In [14]:
x = False #atau x = bool(0)
print(x)
print(type(x))

False
<class 'bool'>

In [16]:
x = b"Hi" #atau x = bytes(5)
print(x)
print(type(x))

b'Hi'
<class 'bytes'>

In [17]:
x = bytearray(7)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [18]:
x = memoryview(bytes(3))
print(x)
print(type(x))

<memory at 0x00000171EC50FDC0>
<class 'memoryview'>

## Python Numbers
ada 3 jenis type number
1. int
2. float
3. complex

In [19]:
x = 21
y = 2.1
z = 5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

#### Interger(int)

In [20]:
x = 17
y = 210318
z = -121

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### Float

In [23]:
x = 25.0e3
y = 3.14
z = -77.13E322224

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

#### Complex

In [24]:
x = 3j
y = 17+4j
z = -2j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

#### Konversi dan Random Number

In [25]:
x = 21    
y = 3.14  
z = 3

#konversi int ke float:
a = float(x)

#konversi float ke int:
b = int(y)

#konversi int ke complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

21.0
3
(21+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [28]:
import random

print(random.randrange(0, 9))

3

## Python Casting
terdiri dari :
1. int
2. float
3. string

In [29]:
x = int(21)
y = int(3.14)
z = int("7")

print(x)
print(y)
print(z)

21
3
7

In [30]:
x = float(8)
y = float("4.0")
z = float("2")

print(x)
print(y)
print(z)

8.0
4.0
2.0

In [32]:
x = str("25")
y = str(2)
z = str("abogoboga21")

print(x)
print(y)
print(z)

25
2
abogoboga21

## Python Strings

In [33]:
#dengan tanda kutip ganda
print("Hello, Ilham") 

#dengan tanda kutip tunggal
print('Hello, Fauzi')

Hello, Ilham
Hello, Fauzi

In [35]:
a = 'Hello, Ilham '
b = "Fauzi"
c = a + b

print(c)

Hello, Ilham Fauzi

#### String Multiline
Anda dapat menetapkan string multiline ke variabel dengan menggunakan tiga tanda kutip ganda dan tanda kutip tunggal

In [36]:
a = """Pemerintah mengadakan program MSIB batch 2, kemudian saya mengikuti program studi independen di Orbit Future Academy"""

print(a)

Pemerintah mengadakan program MSIB batch 2, kemudian saya mengikuti program studi independen di Orbit Future Academy

In [37]:
x = '''Pemerintah mengadakan program MSIB batch 2, kemudian saya mengikuti program studi independen di Orbit Future Academy'''

print(x)

Pemerintah mengadakan program MSIB batch 2, kemudian saya mengikuti program studi independen di Orbit Future Academy

#### String adalah Array
Dapatkan karakter di posisi 1 (ingat bahwa karakter pertama memiliki posisi 0):

In [40]:
x = 'Hello, Fauzi'

print(x[10])

z

#### Looping Melalui String
Karena string adalah array, kita dapat mengulang karakter dalam string, dengan for.

In [41]:
for x in "Orbit":
    print(x)

O
r
b
i
t

#### Panjang String

In [44]:
x = 'Hello, Ilham Fauzi'
print(len(x))

18

#### Cek String

In [46]:
txt = 'Python adalah bahasa pemrograman open-source'
print('Python' in txt)

True

In [48]:
txt = 'Python adalah bahasa pemrograman open-source'
if 'Python' in txt:
    print("Bahasa mudah di mengerti yaitu 'Python'")

Bahasa mudah di mengerti yaitu 'Python'

#### Check if NOT in String

In [49]:
txt = 'Python adalah bahasa pemrograman open-source'
print('Mahal' in txt)

False

In [52]:
txt = 'Python adalah bahasa pemrograman open-source'
if 'Mahal' not in txt:
    print("Bahasa mudah di mengerti yaitu 'Mahal'")

Bahasa mudah di mengerti yaitu 'Mahal'

### Slicing String

In [55]:
a = 'Hello, Ilham Fauzi'
print(a[12:18])

 Fauzi

#### Slice From the Start

In [56]:
a = 'Hello, Ilham Fauzi'
print(a[:12])

Hello, Ilham

#### Slice To the End

In [57]:
a = 'Hello, Ilham Fauzi'
print(a[7:])

Ilham Fauzi

#### Negative Indexing

In [59]:
a = 'Hello, Ilham Fauzi'
print(a[-18:-13])

Hello

### Modify Strings

In [60]:
a = 'Hello, Ilham Fauzi'
print(a.upper())

HELLO, ILHAM FAUZI

In [61]:
a = 'Hello, Ilham Fauzi'
print(a.lower())

hello, ilham fauzi

#### Remove Whitespace

In [62]:
a = ' Hello, Ilham Fauzi '
print(a.strip()) # returns 'Hello, Ilham Fauzi'

Hello, Ilham Fauzi

#### Replace String

In [66]:
a = 'Hello, Ilham Fauzi'
print(a.replace('H', 'J'))

Jello, Ilham Fauzi

#### Split String

In [67]:
a = 'Hello, Ilham Fauzi'
print(a.split(","))

['Hello', ' Ilham Fauzi']

### String Concatenation

In [71]:
x = 'Fauzi'
y = 'Ilham '
z = y + x

print (z)

Ilham Fauzi

In [73]:
a = "Ilham"
b = "Fauzi"
c = a + " " + b
print(c)

Ilham Fauzi

### String Format

In [76]:
age = 20
txt = "My name is Fauzi, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [77]:
age = 20
txt = "My name is Fauzi, and I am {}"
print(txt.format(age))

My name is Fauzi, and I am 20

In [80]:
quantity = 5
itemno = 500
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 5 pieces of item 500 for 49.95 dollars.

In [81]:
quantity = 5
itemno = 400
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 5 pieces of item 400.

In [84]:
txt = "Kami adalah \"Persevere\" dari OFA."
print(txt)

Kami adalah "Persevere" dari OFA.

## Python Booleans

In [85]:
print(21 > 20)
print(21 == 20)
print(21 < 20)

True
False
False

In [87]:
a = 21
b = 200

if b > a:
  print("b lebih besar dari a")
else:
  print("b tidak lebih besar dari a")

b lebih besar dari a

### Evaluasi Nilai dan Variabel

In [89]:
print(bool("Fauzi"))
print(bool(17))

True
True

In [90]:
x = "Fauzi"
y = 21

print(bool(x))
print(bool(y))

True
True

### Kebanyakan Nilai Benar

In [92]:
bool("xyz")
bool(123)
bool(["Nasi Goreng", "Jamur Crispy", "Cimol"])

print(bool("xyz"))
print(bool(123))
print(bool(["Nasi Goreng", "Jamur Crispy", "Cimol"]))

True
True
True

### Beberapa Nilai Salah

In [93]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [94]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Fungsi dapat Mengembalikan Boolean

In [97]:
def myFunction() :
  return True

print(myFunction())

True

In [100]:
def myFunction() :
  return True

if myFunction():
  print("Iya")
else:
  print("Tidak")

Iya

In [101]:
x = 200
print(isinstance(x, int))

True