# Python Operators & Control Flow
Daulat Rais Sejati. Institut Teknologi Indonesia, Teknik Informatika

## Python Operators
Operator digunakan untuk melakukan suatu operasi pada variable dan juga nilainya.

### Python Aritmetic Operators
Operasi aritmatematika digunakan pada nilai numerik untuk melakukan operasi perhitungan biasa

In [2]:
# penjumlahan
x = 23
y = 46
print(x + y)

69

In [3]:
# pengurangan
x = 21
y = 2
print(x - y)

19

In [4]:
# perkalian
x = 4
y = 20
print(x * y)

80

In [6]:
# pembagian
x = 20
y = 10
print(x / y) # float merupakan tipe data default untuk pembagian

2.0

In [8]:
# modulus
x = 8
y = 2
print(x % y) # modulus merupakan sisa hasil bagi

0

In [9]:
# pangkat
x = 8
y = 2
print(x ** y)

64

In [12]:
# pembagian dibulatkan kebawah
x = 29.8
y = 2
print(x // y)

14.0

### Python Assigment Operators
Assigment operator digunakan untuk menetapkan nilai pada sebuah variable

In [14]:
# =
x = 5
print(x)

5

In [15]:
# +=
x = 7
x += 2 # sama dengan x = x + 2
print(x)

9

In [18]:
# -=
x = 4
x -= 8
print(x)

-4

In [17]:
# *
x = 7
x *= 8
print(x)

56

In [19]:
# /=
x = 9
x /= 3
print(x)

3.0

In [20]:
# %=
x = 7
x %= 2
print(x)

1

In [21]:
# //=
x = 105.8
x //= 2
print(x)

52.0

In [22]:
# **=
x = 4
x **= 3
print(x)

64

In [37]:
# &=
x = 5 # 5 = 0101
x &= 6 # 6 = 0110
print(x) # 0101 AND 0110 = 0100
# 0100 = 4

4

In [38]:
# |=
x = 7
x |= 3
print(x)

7

In [39]:
# ^=
x = 6
x ^= 3
print(x)

5

In [40]:
# >>= (menggeser angka biner)
x = 7 # 7 = 0111
x >>= 2 # digeser 2 angka ke kanan menjadi 01
print(x)

1

In [41]:
# <<=
x = 1 # 1 = 01
x <<= 3 # digeser 3 angka ke kiri menjadi 01000
print(x)

8

### Python Comparison Operators
Digunakan untuk membandingkan 2 nilai

In [47]:
# == (sama dengan)
x = 2
y = 4
print(x == y) # False karena x tidak sama dengan y

False

In [48]:
# != (tidak sama dengan)
x = 2
y = 4
print(x != y) # True karena x tidak sama dengan y

True

In [51]:
# > (lebih besar)
x = 5
y = 3
print(x > y) # True karena x lebih besar daripada y

True

In [52]:
# > (lebih besar)
x = 5
y = 3
print(x < y) # False karena x tidak lebih besar daripada y

False

In [54]:
# >= (lebih besar sama dengan)
x = 5
y = 5
print(x >= y)

True

In [55]:
# >= (lebih besar sama dengan)
x = 5
y = 5
print(x <= y)

True

### Python Logical Operators
Digunakan untuk menggabungkan pernyataan kondisi

In [56]:
# and
x = 8
print(x < 10 and x > 4)

True

In [58]:
# or
x = 4
print (x < 10 or x > 4)

True

In [59]:
# not
x = 4
print (not(x < 10 or x > 4))

False

### Python Membership Operators
Digunakan untuk menguji apakah sebuah urutan terdapat didalam suatu objek

In [61]:
# in
aimastery = ['git dan github', 'python', 'ai']
print('ai' in aimastery) # True karena sebuah sequence yang bernama 'ai' ada di dalam list

True

In [63]:
# not in
aimastery = ['git dan github', 'python', 'ai']
print('ai' not in aimastery) # False karena sebuah sequence yang bernama 'ai' ada di dalam list

False

## Python Control Flow

### If... Else
digunakan untuk menjalankan perintah jika suatu kondisi terpenuhi atau bernilai 'True'. Contoh :

In [69]:
a = "buang sampah sembarangan"
b = "hujan lebat"
if a == "buang sampah sembarangan" and b == "hujan lebat":
    print("banjir")
# jika kondisi yang ditulis pada 'if' bernilai True, maka perintah yang ada di dalam 'if' akan dijalankan

banjir

### Elif
'elif' digunakan pada saat kondisi sebelumnya bernilai 'False'

In [73]:
x = 100
y = 50
if x < y:
    print("x lebih kecil dari y")
elif x > y:
    print("x lebih besar dari y")
# karena kondisi sebelumnya tidak terpenuhi atau 'False' maka python akan menjalankan kondisi selanjutnya (elif)

x lebih besar dari y

### Else
'else' akan dijalankan oleh Python, jika semua kondisi yang sudah dijalankan sebelumnya bernilai 'False'

In [76]:
x = 100
y = 100
if x < y:
    print("x lebih kecil dari y")
elif x > y:
    print("x lebih besar dari y")
else:
    print("x sama dengan y")
# 2 kondisi sebelum else tidak ada yang terpenuhi

x sama dengan y

### Nested if
merupakan penggunaan 'if' didalam 'if'

In [83]:
x = 49
if x > 10:
    print("nilai x diatas 10")
    if x > 30:
        print("nilai x diatas 30")
        if x > 50:
            print("nilai x diatas 50")
        else:
            print("nilai x tidak diatas 50")
    else:
        print("nilai x tidak diatas 30")
else:
    print("nilai x tidak diatas 10")

nilai x diatas 10
nilai x diatas 30
nilai x tidak diatas 50

### The pass Statement
'if' statement boleh kosong. tapi jika karena suatu alasan 'if' tidak mempunyai konten, maka gunakan 'pass' statement agar tidak terjadi error

In [85]:
a = 55
b = 200
if b > a:
  pass

## While Loops
Dengan menggunakan perulangan 'while', perintah akan terus dijalankan selama kondisi yang ditulis pada 'while' bernilai 'True. Contoh :

In [87]:
i = 1
while i < 11:
    print(i)
    i += 1
# jika 'i' tidak di increment, maka program tidak akan berhenti melakukan perintah 'print(i)' karena kondisinya selalu bernilai 'True'

1
2
3
4
5
6
7
8
9
10

### The break Statement
'break' digunakan untuk menghentikan perulangan, bahkan jika kondisinya bernilai 'True'

In [91]:
i = 1
while i < 11:
    print(i)
    i += 1
    if i == 6:
        break

1
2
3
4
5

### The continue Statement
'continue' digunakan untuk menghentikan perulangan iterasi yang sedang berjalan, lalu melanjutkan ke iterasi selanjutnya.

In [95]:
i = 1
while i < 11:
    i += 1
    if i == 6: # perulangan akan berhenti pada i = 6, lalu program akan melanjutkan iterasi berikutnya
        continue
    print(i)

2
3
4
5
7
8
9
10
11

### The else Statement

In [98]:
i = 1
while i < 11:
    print(i)
    i += 1
else:
    print("i tidak sudah tidak lebih besar dari 11")
# program akan menjalankan perintah lain jika kondisi 'while' bernilai 'False'

1
2
3
4
5
6
7
8
9
10
i tidak sudah tidak lebih besar dari 11

## Python For Loops
Perulangan 'for' digunakan untuk melakukan pengulangan pada sebuah sequence. 'for' dapat digunakan untuk mengeksekusi perintah satu kali pada setiap item list, tuple, set, dictionary, string dan tipe data lainnya. Contoh :

In [103]:
# melakukan perintah print pada setiap item list 
orbitacademyorbitacademy = ['ai mastery', 'ai gen z']
for i in orbitacademy:
    print(i)

ai mastery
ai gen z

In [102]:
# melakukan perulangan melalui karakter pada kata 'aimastery'
for i in 'ai mastery':
    print(i)

a
i

m
a
s
t
e
r
y

### The break Statement

In [104]:
orbitacademyorbitacademy = ['ai mastery', 'ai gen z', 'ai gen y']
for i in orbitacademy:
    print(i)
    if i == 'ai gen z':
        break

ai mastery
ai gen z

In [105]:
orbitacademyorbitacademy = ['ai mastery', 'ai gen z', 'ai gen y']
for i in orbitacademy:
    if i == 'ai gen z':
        break
    print(i)

ai mastery

### The continue Statement

In [ ]:
orbitacademyorbitacademy = ['ai mastery', 'ai gen z', 'ai gen y']
for i in orbitacademy:
    if i == 'ai gen z':
        continue
    print(i)

### The range() Function
Melakukan perulangan sebanyak jumlah yang sudah ditentukan.

In [113]:
for i in range(5): # default perulangan 'range' dimulai dari 0
    print(i)

0
1
2
3
4

In [115]:
for i in range(2, 6): # menetapkan nilai awal perulangan dipisahkan dengan koma
    print(i)

2
3
4
5

In [118]:
for i in range (2, 20, 2): # menetapkan increment pada akhir didalam nilai range, dipisahkan dengan koma
    print(i)

2
4
6
8
10
12
14
16
18

### Else di Dalam for Loop

In [121]:
for i in range (1, 6):
    print(i)
else:
    print("Perulangan selesai!")
# catatan: 'else' tidak akan dijalankan jika perulangan dihentikan menggunakan 'break'

1
2
3
4
5
Perulangan selesai!

In [123]:
for i in range(6):
    if i == 3:
        break
    print(i)
else:
    print("Perulangan selesai!")

0
1
2

### Nested Loops
Merupakan loop didalam loop

In [134]:
adj = ["mewah", "terkenal", "kencang"]
mobil = ["bmw", "porsche", "lamborghini"]

for i in adj:
    for j in mobil:
        print(i, j)

mewah bmw
mewah porsche
mewah lamborghini
terkenal bmw
terkenal porsche
terkenal lamborghini
kencang bmw
kencang porsche
kencang lamborghini

### The pass Statement
loop tidak boleh kosong. tapi jika karena suatu alasan loop tidak mempunyai konten, maka gunakan 'pass' agar tidak terjadi error

In [136]:
for x in [0, 1, 2]:
    pass