# Python Syntax

# Python Indentation

Indentation adalah ruang atau spasi yang berada di awal kode. 
 Jumlah spasi bebas, tidak ada batasan. tapi setidaknya harus ada 1 spasi.

In [1]:
if 2 < 6:
  print("6 lebih kecil daripada 2 ")

6 lebih kecil daripada 2

Jika Indentation diabaikan, maka akan menampilkan eror

In [2]:
if 2 < 6:
print("6 lebih kecil daripada 2 ")

IndentationError: expected an indented block (<ipython-input-2-6e531016c1bb>, line 2)

# Python Variabels

Dalam phyton, variabel dibuat disaat anda menetapkan nilainya.

In [4]:
x = 5
y = "Hello, World!"

print(y)

Hello, World!

# PythonComments

Komen dalam phyton dimulai dengan #

In [5]:
#This is a comment.
print("Hello, World!")

Hello, World!

Komentar dapat ditempatkan di baris akhir, dan Python akan mengabaikannya.

In [6]:
print("Hello, World!") #This is a comment

Hello, World!

Komentar tidak harus berupa teks yang menjelaskan kode, tetapi juga dapat digunakan untuk mencegah Python mengeksekusi kode:

In [7]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

# Multi Line Comments

Untuk menambahkan komentar multiline, Anda dapat memasukkan # untuk setiap baris:

In [8]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

# Python Variables

Variabel adalah wadah untuk menyimpan nilai data.

# Python Numbers

Untuk memverifikasi jenis objek apa pun dengan Python, gunakan fungsi type() :

In [ ]:
print(type(x))
print(type(y))
print(type(z))

# Int

Int, atau integer, adalah bilangan bulat, positif atau negatif, tanpa desimal, dengan panjang tak terbatas.

In [11]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float

Float adalah angka, positif atau negatif, yang mengandung satu atau lebih desimal.

In [12]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex

Bilangan kompleks ditulis dengan "j" sebagai bagian imajiner:

In [13]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

Anda dapat mengubah satu jenis ke jenis lainnya dengan metode int(), float(), dan complex():

In [15]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#mengubah int ke float:
a = float(x)

#mengubah float ke int:
b = int(y)

#mengubah int ke kompleks:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Casting

Ketika ingin menentukan tipe pada variabel, bisa dilakukan dengan casting. <br>
Casting di python dilakukan dengan menggunakan fungsi konstruktor:
<br>
int() - membangun bilangan bulat dari literal bilangan bulat, literal float (dengan menghapus semua desimal), atau literal string (menyediakan string mewakili bilangan bulat)
<br>
float() - membuat bilangan float dari literal integer, literal float, atau literal string (menyediakan string mewakili float atau integer)
<br>
str() - membangun string dari berbagai tipe data, termasuk string, literal integer dan literal float

In [3]:
#Integer

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [13]:
#float

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [14]:
#strings

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings

String dalam python diapit oleh tanda kutip 1 (' ') atau tanda kutip 2 (" ") <br>
'hello' sama dengan "hello".

In [6]:
print("Hello")
print('Hello')

Hello
Hello

# Memasukkan string ke variabel

Memasukkan string ke dalam variabel dilakukan dengan memasukkan nama variabel diikuti dengan tanda sama dengan kemudian masukkan string.

In [7]:
a = "Hello"
print(a)

Hello

# Multiline String

multiline dalam string dilakukan dengan menggunakan 3 tanda kutip

In [11]:
#menggunakan tiga double quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [12]:
#menggunakan tiga single quotes
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# String dalam Array

In [10]:
#nemapilkan karakter pada posisi 1 

a = "Hello, World!"
print(a[1])

e

# String dalam Loop

In [16]:
#melalukan perulangan untuk kata banana

for x in "banana":
  print(x)

b
a
n
a
n
a

# String dalam Length

In [17]:
#untuk mendapatkan panjang dari string, gunakan fungsi (len)
a = "Hello, World!"
print(len(a))

13

# String Check

In [18]:
#untuk memeriksa apakah ada karakter tertentu dalam string, gunakan in.
txt = "The best things in life are free!"
print("free" in txt)

True

dengan menggunakan statement if

In [19]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

# Check if NOT

In [20]:
#untuk memeriksa apakah suatu karakter tertentu dalam string tidak ada, gunakan not in.
txt = "The best things in life are free!"
print("expensive" not in txt)

True

dengan menggunakan statement if

In [21]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Slicing String

Anda dapat mengembalikan rentang karakter dengan menggunakan sintaks irisan.

Tentukan indeks awal dan indeks akhir, dipisahkan oleh titik dua, untuk mengembalikan bagian dari string.

In [22]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

# Slice From the Start

Dengan mengabaikan indeks awal, range akan dimulai pada karakter pertama

In [23]:
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

# Slice To The End

In [ ]:
Dengan mengabaikan indeks akhir, range akan berakhhir pada karakter terakhir

In [24]:
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing

Gunakan indeks negatif untuk memulai irisan dari akhir string

In [25]:
#Get the characters:

#From: "o" in "World!" (position -5)

#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

# Modify String

## Upper Case

In [28]:
#The upper() method menghasilkan string ke dalam hutuf besar:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

## Lower Case

In [29]:
#The lower() method menghasilkan string ke dalam huruf kecil:

a = "Hello, World!"
print(a.lower())

hello, world!

# Remove Whitespace

Spasi putih adalah spasi sebelum dan/atau setelah teks yang sebenarnya, dan sangat sering Anda ingin menghapus spasi ini.

In [30]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# Replace String

In [31]:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

# Split String

In [32]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

# String Concatenation

Untuk menggabungkan dua string Anda dapat menggunakan operator +.

In [33]:
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [34]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# String Format

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [35]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [36]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [37]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Escape Character

Untuk menyisipkan karakter yang ilegal dalam string, gunakan karakter escape.

Karakter escape adalah garis miring terbalik \ diikuti oleh karakter yang ingin Anda sisipkan.

In [39]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print (txt)

We are the so-called "Vikings" from the north.

In [44]:
#\'	Single Quote
txt = 'It\'s alright.'
print(txt) 

#\\	Backslash
txt = "This will insert one \\ (backslash)."
print(txt) 

#\n	New Line
txt = "Hello\nWorld!"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!

# Python Booleans

Booleans represent one of two values: True or False.

In [45]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [46]:
#When you run a condition in an if statement, Python returns True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Evaluate Values and Variables

The bool() function allows you to evaluate any value, and give you True or False in return,

In [47]:
#Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [48]:
#Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Most Values are True

Hampir semua nilai dievaluasi ke True jika memiliki semacam konten.

Setiap string Benar, kecuali string kosong.

Setiap nomor Benar, kecuali 0.

Setiap daftar, tuple, set, dan kamus adalah True, kecuali yang kosong.

In [49]:
#The following will return True:

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

# Some Values are False

Faktanya, tidak banyak nilai yang bernilai False, kecuali nilai kosong, seperti (), [], {}, "", angka 0, dan nilai None. Dan tentu saja nilai False dievaluasi menjadi False.

In [50]:
#The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

# Functions can Return a Boolean

You can create functions that returns a Boolean Value:

In [51]:
#Print the answer of a function:

def myFunction() :
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [52]:
#Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [53]:
#Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

True

# Python Operators

## Python Arithmetic Operators

In [60]:
#addition
x = 5
y = 3

print (x+y)

#substraction
x = 5
y = 3

print(x - y)

#multiplication
x = 5
y = 3

print(x * y)

#Division
x = 12
y = 3

print(x / y)


#Modulus
x = 5
y = 2

print(x % y)

#pangkat
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

#Pembagian bilangan bulat
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

8
2
15
4.0
1
32
7

## Python Assignment Operators

Assignment operators are used to assign values to variables:

In [66]:
#operator =

x = 5

print(x)

#operator +=
x = 5

x += 3

print(x)

#operator -=
x = 5

x -= 3

print(x)

#operator *=
x = 5

x *= 3

print(x)

#operator /=
x = 5

x /= 3

print(x)

5
8
2
15
1.6666666666666667

## Python Comparison Operators

In [67]:
#operator ==
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3


#operator !=
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

#operator >
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

#operator <
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False
True
True
False

## Python Logical Operators

Logical operators are used to combine conditional statements:

In [68]:
#and
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

#or
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)


#not
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

True
True
False

## Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [71]:
#is
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [72]:
#isnot

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Python Lists

In [73]:
#Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [74]:
#Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [75]:
#Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## List Items - Data Types

In [77]:
#String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

#A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

## type()

In [78]:
#What is the data type of a list?

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

# Python Tuples

In [79]:
#Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [80]:
#Tuples allow duplicate values:

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [81]:
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## Create Tuple With One Item

In [82]:
#One item tuple, remember the comma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

## Tuple Items - Data Types

In [84]:
#String, int and boolean data types:

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

# Python Sets

In [85]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [86]:
#Duplicate not allowed 

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [87]:
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

## Set items- data types

In [89]:
#String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

# Python Dictionaries

In [90]:
#Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [91]:
#Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [93]:
#Duplicates are not allowed 

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [94]:
#Print the number of items in the dictionary:

print(len(thisdict))

3