## Python
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

In [7]:
#ini komentar
print('hello world')

hello world

In [15]:
a=10

In [16]:
b=5

In [17]:
c=a+b
print(c)

15

In [ ]:
a=50
print(a)

In [16]:
from IPython.display import IFrame
url = 'https://orbitfutureacademy.id/'
IFrame(url, width=900, height=400)

## Python Indentation
Indentation refers to the spaces at the beginning of a code line.Where in other programming languages 
the indentation in code is for readability only, the indentation in Python is very important Python uses indentation to indicate a block of code.

In [2]:
x = 4
x = "Alqn"
print(x)

Alqn

In [3]:
x = str(3)
y = int(3)
z = float(3)
print(x, y, z)

3 3 3.0

## Get the Type
You can get the data type of a variable with the type() function.

In [2]:
x = 5
print(type(x))

<class 'int'>

In [7]:
x,y,z = "pink", "red", "white"
print(x,y,z)
print(z,x,y)

pink red white
white pink red

In [1]:
"""Random Number"""
import random
print(random.randrange(1,100))

48

## Python Casting

In [6]:
x= int(1)
y= int(2.8)
z= int("3")
print(x,y,z)

1 2 3

In [8]:
mobil = ["jazz", "Tesla", "Avanza"]
x,y,z = mobil
print(x,y,z)

jazz Tesla Avanza

## Python - Modify Strings
Upper case dan Lower Case

In [10]:
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

### Remove Whitespace

In [12]:
a = " Hello, World! "
print(a.strip())

Hello, World!

### Replace String

In [17]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Split String

In [18]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

# Python - Format - Strings
The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [19]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [20]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

### Escape Character
To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [23]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Python Boolean
Booleans represent one of two values: True or False.

In [24]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [26]:
a = 30
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

### Evaluate Values and Variables

In [27]:
print(bool("Hello"))
print(bool(15))

True
True

In [28]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

## Python Operators

In [40]:
x = 10
y = 5

In [41]:
print(x + y)
print(x - y)
print(x / y)
print(x * y)
print(x % y)
print(x ** y)
print(x // y)

15
5
2.0
50
0
100000
2

### Python Comparison Operators
Comparison operators are used to compare two values:

In [42]:
x == y

False

In [43]:
x != y

True

### Python Logical Operators

In [46]:
x = 5

print(x > 3 and x < 10)
print(x > 3 or x < 4)
print(not(x > 3 and x < 10))

True
True
False

### Python Identity Operators

In [49]:
x = ["Salak", "Pisang"]
y = ["Salak", "Pisang"]
z = x

print(x is z)
# returns True because z is the same object as x
print(x is not z)
# returns False because z is the same object as x

print(x is y)
# returns False because x is not the same object as y, even if they have the same content
print(x is not y)
# returns True because x is not the same object as y, even if they have the same content

print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y
print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

True
False
False
True
True
False

### Python Membership Operators

In [51]:
x = ["Salak", "Pisang"]
print("Salak" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [52]:
x = ["Salak", "Pisang"]
print("Apel" not in x)

# returns True because a sequence with the value "banana" is in the list

True

## Python Lists 
List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

### List Length

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### List Items - Data Types

In [9]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

## Python - Access List Items

In [10]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

## Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

## Range of Negative Indexes

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

## Check if Item Exists

In [13]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Python - Change List Items

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

### Python - Add List Items

### Append Items
To add an item to the end of the list, use the append() method:

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

### Extend List
To append elements from another list to the current list, use the extend() method.

In [19]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [20]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

### Remove Specified Item
The remove() method removes the specified item.

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

### Remove Specified Index
The pop() method removes the specified index.

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

### Clear the List

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

### Loop Through a List
You can loop through the list items by using a for loop:

In [24]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

### Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [25]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

### Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [26]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

### Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [27]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

## Python - List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [28]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

### Python - Sort Lists
Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [29]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

### Sort Descending
To sort descending, use the keyword argument reverse = True:

In [30]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

### Copy a List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [31]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

### Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [33]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

### Python Tuples
Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [34]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [35]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### Tuple Length
To determine how many items a tuple has, use the len() function:

In [37]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets:###

In [38]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [39]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Add Items
Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [44]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [45]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [47]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

### Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [48]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

### Loop Through the Index Numbers
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [49]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

### Join Two Tuples
To join two or more tuples you can use the + operator:

In [50]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [51]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

In [52]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

### Duplicates Not Allowed
Sets cannot have two items with the same value.

In [54]:
thisset = {"apple", "banana", "cherry", "apple"}
                        
print(thisset)

{'apple', 'cherry', 'banana'}

### Get the Length of a Set
To determine how many items a set has, use the len() function.

In [55]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

### Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [56]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [57]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Add Sets
To add items from another set into the current set, use the update() method.

In [58]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'papaya', 'banana', 'mango', 'apple', 'pineapple'}

### Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [59]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

### Loop Items
You can loop through the set items by using a for loop:

In [60]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

### Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [61]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'c', 'a'}

# Python Dictionaries

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Dictionary Items
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

### Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [66]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

### Get Keys
The keys() method will return a list of all the keys in the dictionary.

In [68]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

### Get Values
The values() method will return a list of all the values in the dictionary.

In [69]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

### Get Items
The items() method will return each item in a dictionary, as tuples in a list.

In [70]:
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

### Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [71]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

### Change Values
You can change the value of a specific item by referring to its key name:

In [73]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

### Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [75]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [76]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Update Dictionary
The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [78]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Removing Items
There are several methods to remove items from a dictionary:

In [79]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

### Loop Through a Dictionary
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [80]:
for x in thisdict:
  print(x)

brand
year

### Copy a Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [81]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [83]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}