# Tugas1_Percy39

Oleh :
Daulat Rais.
Institut Teknologi Indonesia, Teknik Informatika

In [1]:
print("hello world")

hello world

## Python Indentation
mengarah pada spasi pada bagian awal baris kode. Indentation pada python sangat penting. Kesalahan pada indentation akan mengakibatkan error pada kode

contoh :

In [1]:
if 5 > 2:
    print("5 lebih besar dari 2")

5 lebih besar dari 2

contoh indentation yang salah :

In [2]:
if 5 > 2:
print("5 lebih besar dari 2")

IndentationError: expected an indented block (Temp/ipykernel_3092/4271038266.py, line 2)

## Python Comments
- digunakan untuk menjelaskan baris kode
- untuk membuat kode menjadi mudah dibaca
- comments dapat mencegah kode dieksekusi saat melakukan testing

comments (komentar) diawali dengan #

In [4]:
# print("Hello World")
# kode diatas tidak akan menghasilkan output apa-apa

## Variables
variable merupakan wadah untuk menyimpan nilai suatu data. Variable akan terbuat jika diberikan sebuah nilai. Dalam mendeklarasikan variable kita tidak perlu menyebutkan tipe data nya karena python sendiri akan otomatis mendeteksi tipe data dari variable tersebut. Kita juga dapat menentukan secara spesifik tipe data sebuah variable dengan cara casting

In [7]:
x = 5
y = "John"
print(x)
print(y)

# type() berfungsi untuk mengambil tipe data variable
print(type(x))
print(type(y))

5
John
<class 'int'>
<class 'str'>

In [9]:
# casting
x = str(3)
y = int(3)
print(type(x))
print(type(y))

<class 'str'>
<class 'int'>

### Tipe Data String

In [1]:
nama_saya = "Daulat Rais"

# tampilkan nilai dari variable yang sudah dibuat
print(nama_saya)

# tampilkan tipe data dari variable yang sudah dibuat
print(type(nama_saya))

Daulat Rais
<class 'str'>

### Tipe Data Integer

In [3]:
jml_sks_diambil = 135

# tampilkan nilai dari variable yang sudah dibuat
print(jml_sks_diambil)

# tampilkan tipe data dari variable yang sudah dibuat
print(type(jml_sks_diambil))

135
<class 'int'>

### Tipe Data Float

In [4]:
nilai_matkul = 88.5

# tampilkan nilai dari variable yang sudah dibuat
print(nilai_matkul)

# tampilkan tipe data dari variable yang sudah dibuat
print(type(nilai_matkul))

88.5
<class 'float'>

### Tipe Data Complex

In [5]:
x = 5+6j

# tampilkan nilai dari variable yang sudah dibuat
print(x)

# tampilkan tipe data dari variable yang sudah dibuat
print(type(x))

(5+6j)
<class 'complex'>

### Variable Names
- nama variable harus diawali dengan sebuah huruf atau underscore
- nama variable tidak boleh diawali dengan sebuah angka
- variable hanya boleh mengandung alpha-numeric karakter dan juga underscores
- nama variable juga case-sensitive

In [10]:
# Contoh nama variable yang diperbolehkan
namasaya = "Budi"
nama_saya = "Budi"
_namasaya = "Budi"
namasaya2 = "Budi"
NAMASAYA = "Budi"
namaSaya = "Budi"

In [12]:
# Contoh nama variable yang tidak diperbolehkan
1namasaya = "Budi"
nama-saya = "Budi"
nama saya = "Budi"

SyntaxError: invalid syntax (Temp/ipykernel_10072/1428063034.py, line 2)

In [13]:
# menetapkan variable dalam satu baris
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [8]:
# SLICE
b = "Hello, World!"

# mengambil beberapa karakter dari posisi 2 sampai posisi 5 (5 tidak termasuk)
print(b[2:5])
# mengambil karakter dari awal sampai posisi 5 (5 tidak termasuk)
print(b[:5])
# mengambil karakter dari posisi awal sampai akhir
print(b[2:])
# negatif indexing. dari karakter "o" dari "World" (posisi -5) ke karakter "d" (posisi -2)
print(b[-5:-2]) # negatif index dimulai dari 1 paling belakang

llo
Hello
llo, World!
orl

In [9]:
# mengubah string dalam bentuk upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [11]:
# mengubah string dalam bentuk lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [12]:
# menghilangkan spasi/ruang kosong pada bagian awal dan akhir string
a = " Hello, World! "
print(a.strip())

Hello, World!

In [14]:
# mengganti string dengan string lain
a = "Hello, World!"
print(a.replace("o", "J"))

HellJ, WJrld!

In [18]:
# membagi string menjadi beberapa bagian dan menjadikannya sebuah list dengan menggunakan 1 karakter atau lebih sebagai pemisah
a = "Hello, World!"
print(a.split(",")) # "," sebagai pemisah

['Hello', ' World!']

In [22]:
# menggabungkan string dengan integer dengan menggunakan "{}" sebagai tempang penampung
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [23]:
# format() dapat mengambil lebih dari satu argumen dan menempatkan di tempat penampung secara berurutan
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [25]:
# dapat menggunakan angka index untuk menempatkan argumen di tempat penampung yang benar
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [28]:
# mengevaluasi sebuah nilai lalu mereturnnya dengan hasil True atau False menggunakan bool()
a = 11 < 10
print(bool(a))
print(bool("Hello"))
print(bool(15))

False
True
True

## List

Digunakan untuk menyimpan banyak item dalam satu variable. List dibuat menggunakan [ ]. List juga memungkinkan untuk dapat memiliki item dengan nilai yang sama

In [30]:
thislist = ["apple", "banana", "cherry" , "apple"]
print(thislist)

['apple', 'banana', 'cherry', 'apple']

In [31]:
# len() digunakan untuk menentukan panjang item yang dimiliki oleh list 
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [36]:
# list juga dapat memiliki banyak item dengan tipe data yang berbeda-beda
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

### Mengakses Indeks List

In [37]:
# tiap item memiliki nilai index yang berbeda-beda
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[-1])

banana
cherry

In [38]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist: # in digunakan untuk memnentukan apakah item tertentu ada pada list yang ada
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

### Mengubah Item di dalam List

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant" # index ke-1 yaitu "banana" akan diganti dengan "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"] # 1:2 hanya akan mengganti "apple" dengan 2 item, sehingga "cherry" akan bergeser ke index selanjutnya

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"] # 1:3 berarti akan mengganti index 1-2 (3 tidak termasuk) dengan "watermelon"

print(thislist)

['apple', 'watermelon']

### Menambah Item ke dalam List

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon") # fungsi insert() berfungsi untuk memasukkan item kedalam list pada index yang sudah ditentukan.
# "watermelon" akan dimasukkan ke dalam index ke-2 sehingga "cherry" akan bergeser ke index selanjutnya

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange") # append() berfungsi untuk menambah item ke index terakhir di dalam list

print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [9]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical) # element pada list thislist akan ditambah dengan element list tropical menggunakan fungsi extend()

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### Menghilangkan Item pada List

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana") # remove() berfungi untuk menghilangkan item pada list

print(thislist)

['apple', 'cherry']

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1) # pop() berfungsi untuk menghilangkan item namun menggunakan index yang telah ditentukan.
# jika index tidak ditulis, maka fungsi pop() akan menghilangkan item dengan index terakhir

print(thislist)

['apple', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
del thislist[0] # berfungsi sama seperti pop()

print(thislist)

['banana', 'cherry']

In [21]:
thislist = ["apple", "banana", "cherry"]
del thislist # keyword del bisa juga digunakan untuk menghapus list. dalam hal ini thislist tidak bisa ditampilkan karena list tersebut sudah dihapus oleh python

In [23]:
thislist = ["apple", "banana", "cherry"]
thislist.clear() # clear() berfungsi untuk mengosongkan list

print(thislist)

[]

### Mengurutkan List

In [28]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort() # sort() berfungsi untuk mengurutkan element didalam list secara ascending/naik (hanya berlaku jika setiap elemen memiliki tipe data yang sama)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [30]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True) # sama seperti sebelumnya, namun reverse = true akan mengurutkan element secara descending/menurun

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

### Menyalin LIst

In [31]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() # copy() berfungsi untuk menyalin sebuah list

print(mylist)

['apple', 'banana', 'cherry']

### Join List

In [2]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

## Tuple
Tuple tidak bisa dimodifikasi. Artinya setelah tuple dibuat, kita tidak bisa menambah atau menghapus item didalamnya. Beda seperti list, yang isinya bisa dimodifikasi kapan pun kita mau.

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [7]:
thistuple = ("apple",) # membuat tuple dengan satu item di dalamnya menggunakan koma (,)
print(type(thistuple))

# dibawah contoh BUKAN tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Memperbarui isi tuple

In [10]:
x = ("apple", "banana", "cherry")
y = list(x) # tuple dikonversi menjadi list terlebih dahulu
y[1] = "kiwi" # mengubah isi list
x = tuple(y) # lalu dikonversikan kembali menjadi tuple

print(x)

('apple', 'kiwi', 'cherry')

### Join Tuples

In [11]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2 # menggabungkan tuple menggunakan operator +
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## Set
Set digunakan untuk menyimpan beberapa item pada satu variable.
Set memiliki bentuk yang tidak berurutan dan tidak dapat diubah dan juga tidak dapat diindeks.
Walaupun nilai yang ada di dalam set tidak dapat diubah, kita tetap dapat menghapus dan menambah item baru pada set.

In [12]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [14]:
thisset = {"apple", "banana", "cherry", "apple"} # set tidak dapat memiliki item yang sama

print(thisset) # jika terdapat file yang sama, hanya akan satu saja yang dapat ditampilkan. Sisanya akan diabaikan

{'banana', 'apple', 'cherry'}

## Dictionary

Dictionary digunakan untuk menyimpan nilai data dalam pasangan "key:value". Dictionary memiliki bentuk yang beruruta, dapat diubah isinya namun tidak memungkinkan untuk memiliki data yang duplikat.

In [16]:
thisdict = {
  "brand": "Ford", # brand disini sebagai key dan Ford sebagai value/nilainya. begitupun juga item yang lainnya
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [18]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"]) # menampilkan nilai dari kata kunci brand

Ford

### Mengubah Item pada Dictionary

In [20]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018 # memberikan nilai baru untuk menggantikan nilai lama}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

### Menambah Item Baru pada Dictionary

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["color"] = "red" # menambahkan item yang sebelumnya tidak ada pada dictionary
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"}) # menggunakan fungsi update() untuk menambahkan item baru
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Menghapus Item pada Dictionary

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.pop("model") # menggunakan fungsi pop() untung menghilangkan key model
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.popitem() # jika tidak memasukan nama key nya, maka python akan menghapus item terakhir pada dictionary
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict # menghapus dictionary secara keseluruhan

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.clear() # mengosongkan isi dari dictionary
print(thisdict)

{}