# Python Operator & Control Flow

### Python Arithmetic Operators

In [4]:
#penjumlahan
x = 9
y = 3

print (x+y)

12

In [5]:
#pengurangan
x = 10
y = 4

print(x - y)

6

In [6]:
#perkalian
x = 48
y = 5

print(x * y)

240

In [7]:
#Pembagian
x = 36
y = 3

print(x / y)

12.0

In [8]:
#Modulus
x = 15
y = 2

print(x % y)

1

In [9]:
#pangkat
x = 2
y = 7

print(x ** y) #same as 2*2*2*2*2

128

In [10]:
#Pembagian bilangan bulat
x = 15
y = 2

print(x // y)

#hasil didapatkan dari pendekatan bilangan bulat

7

### Python Assignment Operators

In [17]:
#operator =

x = 9

print(x)

9

In [23]:
#operator +=

x = 9

x += 5

print(x)

14

In [24]:
#operator -=

x = 9

x -= 3

print(x)

6

In [25]:
#operator *=

x = 9

x *= 5

print(x)

45

In [26]:
#operator /=

x = 9

x /= 2

print(x)

4.5

In [27]:
#operator %=

x = 9

x%=4

print(x)

1

In [30]:
#operator //=

x = 9

x//=2

print(x)

4

In [31]:
#operator **=

x = 5

x **= 3

print(x)

125

In [32]:
#operator &=

x = 5

x &= 3

print(x)

1

In [33]:
#operator |=

x = 5

x |= 3

print(x)

7

In [34]:
#operator ^=

x = 5

x ^= 3

print(x)

6

In [35]:
#operator >>=

x = 5

x >>= 3

print(x)

0

In [36]:
#operator <<=

x = 5

x <<= 3

print(x)

40

### Python Comparison Operators

In [39]:
#operator ==
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [40]:
#operator !=
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [41]:
#operator >
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [42]:
#operator <
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [43]:
#operator >=

x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [44]:
#operator <=

x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

### Python Logical Operators

In [45]:
#and
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [46]:
#or
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [47]:
#not
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

### Python Identity Operators

In [48]:
#is
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [49]:
#isnot

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

### Python Membership Operators

In [50]:
#operator in

x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [51]:
#operator not in

x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

## Control Flow

In [52]:
#nested if else

var = 50
if var < 200: #setelah titik dua yg menandakan statement yang akan dieksekusi jika nilainya true
    print (" Nilai kurang dari 200 ")
    if var == 150:
        print ( " Nilai adalah 150 ")
    elif var == 100:
        print ( " Nilai adalah 100 ")
    elif var == 50:
        print ( " Nilai adalah 50 ")
    elif var < 50:
        print ( " Nilai lebih kecil dari 50 ")
        
else:
    print("tidak dapat menemukan nilai yang anda inginkan")
print("Bye!")

 Nilai kurang dari 200
 Nilai adalah 50
Bye!

dalam perulangan for, ada 3 hal yang harus dipenuhi : 
 <br>   1. Inisialisasi variabel #variabel berguna untuk menghitung sudah berapa banyak melakukan perulangan
 <br>   2. Increment / counter 
 <br>   3. Kondisi kapan harus keluar

In [53]:
#Elif

a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [54]:
#While Loop

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [55]:
#For Loop

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry