<a href="https://colab.research.google.com/github/TaysTyas/ClassPersevere/blob/percy36/tugas2_percy36.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Operator
Operator pada python dibagi menjadi beberapa bagian, yaitu:
<ol>
  <li>Arithmetic operators ( +, -, *, /, %, //, **)</li>
  <li>Assignment operators (=, +=, -=, *=, /=, %=, //=, **=, &=, |=, <<=, >>=, ^=)</li>
  <li>Comparison operators (==, !=, <, >, <=, >=)</li>
  <li>Logical operators (and, or, not)</li>
  <li>Identity operators (is, is not)</li>
  <li>Membership operators (in, not in)</li>
  <li>Bitwise operators (&, |, >>, <<, ^, ~)</li>
</ol>

In [ ]:
#contoh Aeithmatic operators
bilangan1 = 10
bilangan2 = 5
print("Hasil Penjumlahan = ", (bilangan1 + bilangan2))
print("Hasil Pengurangan = ", (bilangan1 - bilangan2))
print("Hasil Perkalian = ", (bilangan1 * bilangan2))
print("Hasil Pembagian = ", (bilangan1 / bilangan2))
print("Hasil Modulus(sisa bagi) = ", (bilangan1 % bilangan2))
print("Hasil Perpangkatan = ", (bilangan1 ** bilangan2))
print("Hasil Pembulatan = ", (bilangan1 // bilangan2))

#operator '+' bisa juga digunakan untuk menggabungkan string
string1 = "Nama"
string2 = "saya"
print("\nHasil penggabungan string adalah \"" + string1 +" " + string2 + " " + "Tyas\"")

Hasil Penjumlahan =  15
Hasil Pengurangan =  5
Hasil Perkalian =  50
Hasil Pembagian =  2.0
Hasil Modulus(sisa bagi) =  0
Hasil Perpangkatan =  100000
Hasil Pembulatan =  2

Hasil penggabungan string adalah "Nama saya Tyas"

In [ ]:
#contoh Assignment operator
bilangan1 = 10
bilangan2 = 5
bilangan2 += bilangan1 #maksudnya adalah bilangan2 = bilangan2 + bilangan 1 = 5 + 10 = 15
print(bilangan2)

15

In [ ]:
#contoh Logical operator
bilangan1 = int(input("Input bilangan pertama : "))
bilangan2 = int(input("Input bilangan kedua   : "))
if (bilangan1%2 == 0) and (bilangan2%2==1) :
  print(bilangan1 % bilangan2)
elif (not(bilangan2 > 0 and  bilangan1 > 0)):
  print("Kedua bilangan bernilai negatif.")
elif bilangan2 !=0 or bilangan2 < 0:
  print("Dapat dilakukan pembagian")
else:
  print("Hai")

Input bilangan pertama : 10
Input bilangan kedua   : 5
0

In [ ]:
#Contoh Identity Operators
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is y)
print(x == y) # returns False because x is not the same object as y, even if they have the same content
print(x is not x)
print(x != y)

False
True
False
False

In [ ]:
#contoh Membership operator
x = ["apple", "banana"]
print ("apple" in x)
print("pineapple" not in x)

True
True

##Python Percabangan (If... Else)
Percabangan dalam python menggunakan syntax if, elif, dan else. Pada saat menggunakan syntax if ataupun elif biasanya akan diikuti dengan sebuah statement yang bernilai true ataupun false. Biasanya, statement berisi logical condition dari mathematics seperti:
<ul>
 <li>Equals: a == b</li>
 <li>Not Equals: a != b</li>
 <li>Less than: a < b</li>
 <li>Less than or equal to: a <= b</li>
 <li>Greater than: a > b</li>
 <li>Greater than or equal to: a >= b</li>
</ul>
<p>Stelah baris syntax if dan statement, baris berikutnya akan diberikan indentation(spasi) diawal baris minimal 1 untuk menghindari error.

In [ ]:
#contoh if
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
#error jika tidak menggunakan indentation
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: ignored

In [ ]:
#contoh elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
#contoh else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
#short hand if( if dalam 1 baris)
a = 22901
b = 330
if a > b: print("a is greater than b")

#short hand if..else(if..else dalam 1 baris)
a = 2
b = 330
print("A") if a > b else print("B")

#short hand multiple else:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

a is greater than b
B
=

In [ ]:
#percabangan dengan statement menggunakan logical operator
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")
if a > b or a > c:
  print("At least one of the conditions is True")

Both conditions are True
At least one of the conditions is True

In [ ]:
#nested if(if bersarang)
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

#pass jika statement tidak memiliki content dan ingin menghindari error
a = 33
b = 200

if b > a:
  pass

Above ten,
and also above 20!

##Python While Loops
Python memiliki 2 primitive loops yaitu for loop dan while loop. While loop adalah perulangan yang dapat terus mengeksekusi statementnya selama kondisi perulangannya true. Semua problem yang bisa diselesaikan menggunakan perulangan for pasti bisa diselesaikan menggunakan perulangan while. tetapi, masalah yang bisa diselesaikan menggunakan perulangan while, belum tentu bisa diselesaikan menggunakan perulangan For.

In [ ]:
#perulangan akan terus berjalan(statement akan terus dieksekusi) jika i < 6(kondisi true)
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#contoh break(dapat menghentikan loop walaupun kondisi bernilai true)
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
#contoh continue(statement akan dilewati dan berlanjut ke iterasi selanjutnya)
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
#contoh else(dieksekusi saat kondisi while loop false)
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

##Python For Loops
For loop pada python menggunakan iterasi  over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). Pada perulangan for biasanya jumlah perulangannya sudah diketahui (jika menggunakan range bisa menggunakan1 statement(jumlah perulangan misalnya for x in range(5)), dua statement(start, stop) ataupun 3 statement(start, stop, step)).

In [3]:
#contoh for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
print()
#loop through a string
for x in "banana":
  print(x)
print()
#break statement(perulangan akan berhenti walaupun semua iterasi belum selesai/berhenti secara paksa)
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
print()
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)
print()
#continue statement(mengabaikan/menstop iterasi lalu lanjut ke iterasi selanjutnya)
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
banana
cherry

b
a
n
a
n
a

apple
banana

apple

apple
cherry

In [8]:
#range function(secara default mengembalikan urutan nilai dimulai dari 0 dengan inkremen 1 denagn akhir nilai yang spesifik)
for x in range(6): # 0 1 2 3 4 5 ---> dari 0 sampai 6-1
  print(x)
print()

for x in range(2, 6):# 2 3 4 5 ---> dari 2 sampai 6-1
  print(x)
print()

for x in range(2, 30, 3): # 2 5 8... 29 --> dari 2 smpai 30-1 dengan kelipata/inkremen 3
  print(x)
print()

#else in loop(dieksekusi jika perulangan telah selesai/semua iterasi telah dijalankan ataupun jika peruangan berhenti paksa karena perintah break)
for x in range(6):
  print(x)
else:
  print("Finally finished!")
print()

for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")
print()

#nested loop(loop didalam loop )
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

#pass (for loops tidak bisa kosong jadi untuk menghindari error dapat menggunakan pass)
for x in [0, 1, 2]:
  pass

0
1
2
3
4
5

2
3
4
5

2
5
8
11
14
17
20
23
26
29

0
1
2
3
4
5
Finally finished!

0
1
2

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##Python Function
Fungsi pada python dibuat menggunakan keyword 'def'. Fungsi pada python juga bisa mengandung satu atau lebih argumen/parameter.

In [9]:
#creating function
def my_function():
  print("Hello from a function")

#memanggil function
my_function()

Hello from a function

In [10]:
#contoh argument/parameter
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [11]:
#2 argumen/parameter
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [ ]:
#contoh error karena jumlah argumen pada fungsi dan ssaat memanggil berbeda
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

In [12]:
#Arbitrary Keyword Arguments, **kwargs (digunakan jika tidak mengetahui berapa banyak parameter pada saat melakukan pemanggilan fungsi yang akan membuat parameter menjadi seperti dictionary)
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [13]:
#default parameter(fungsi dapat dipanggil tanpa menggunakan parameter karna sudah ada nilai default)
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [14]:
#passing list(bisa string, number, dict, etc) menjadi argumen/parameter
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [15]:
#return value(fungsi yang mengembalikan nilai)
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [16]:
#pass statement(untuk menghindari error karena fungsi tidak boleh kosong)
def myfunction():
  pass

In [17]:
#rekursif(fungsi yang memanggil dirinya sendiri)
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21