**Python Arithmetic Operators**

In [ ]:
x = 5
y = 3

print(x + y)

8

In [ ]:
x = 5
y = 3

print(x - y)

2

In [ ]:
x = 5
y = 3

print(x * y)

15

In [ ]:
x = 5
y = 3

print(x / y)

1.6666666666666667

In [ ]:
x = 5
y = 3

print(x % y)

2

In [ ]:
x = 5
y = 3

print(x ** y)

125

In [ ]:
x = 5
y = 3

print(x // y)

1

**Python Assignment Operators**

In [ ]:
x = 5

print(x)

5

In [ ]:
x = 5

x += 3

print(x)

8

In [ ]:
x = 5

x -= 3

print(x)

2

In [ ]:
x = 5

x *= 3

print(x)

15

In [ ]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [ ]:
x = 5

x %= 3

print(x)

2

In [ ]:
x = 5

x //= 3

print(x)

1

In [ ]:
x = 5

x **= 3

print(x)

125

In [ ]:
x = 5

x &= 3

print(x)

1

In [ ]:
x = 5

x |= 3

print(x)

7

In [ ]:
x = 5

x ^= 3

print(x)

6

In [ ]:
x = 5

x >>= 3

print(x)

0

In [ ]:
x = 5

x <<= 3

print(x)

40

**Python Comparison Operators**

In [ ]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [ ]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [ ]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [ ]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [ ]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [ ]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

**Python Logical Operators**

In [ ]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [ ]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [ ]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

**Python Identity Operators**

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True