# Python Hello World

In [4]:
print("Hello, World!")

Hello, World!

# Python Indentation

In [6]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [7]:
if 5 > 2:
 print("Five is greater than two!")  
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

# Python Comments

In [8]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [9]:
print("Hello, World!") #This is a comment.

Hello, World!

In [10]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [11]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [12]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Python Variables

In [13]:
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [15]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [17]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

In [18]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [19]:
x = "John"
print(x)
#double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

In [20]:
a = 4
A = "Sally"
#A will not overwrite a

print(a)
print(A)

4
Sally

# Python - Variable Names

In [21]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

# Python Variables - Assign Multiple Values

In [22]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [23]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [24]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

# Python - Output Variables

In [25]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [26]:
x = "Python is "
y = "awesome"
z = x + y
print(z)

Python is awesome

In [27]:
x = 5
y = 10
print(x + y)

15

In [1]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Python - Global Variables

In [28]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [29]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [30]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [31]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Data Types

In [32]:
x = 5
print(type(x))

<class 'int'>

In [33]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [34]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [35]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [36]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [37]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [38]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [39]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [40]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [41]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [42]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [43]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [44]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [45]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [46]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001F78870AAC0>
<class 'memoryview'>

In [1]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [2]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [3]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [4]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [5]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [6]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [7]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [8]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [9]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [10]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [11]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [12]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [13]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [14]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x0000022A03D8AF40>
<class 'memoryview'>

# Python Numbers
There are three numeric types in Python:
- int
- float
- complex

In [15]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [17]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [18]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [19]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [20]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [21]:
import random

print(random.randrange(1, 10))

3

# Python Casting

In [22]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

In [23]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [24]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

# Python Strings

In [25]:
#You can use double or single quotes:

print("Hello")
print('Hello')

Hello
Hello

In [26]:
a = "Hello"
print(a)

Hello

In [27]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [28]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [29]:
a = "Hello, World!"
print(a[1])

e

In [30]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [32]:
a = "Hello, World!"
print(len(a))

13

In [33]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [34]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [35]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [36]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Python - Slicing Strings

In [37]:
b = "Hello, World!"
print(b[2:5])

llo

In [38]:
b = "Hello, World!"
print(b[:5])

Hello

In [39]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [40]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings

In [41]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [42]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [43]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [44]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [45]:
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

# Python - String Concatenation

In [46]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [47]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - Strings

In [2]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [48]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [49]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [50]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python - Escape Characters

In [3]:
txt = "We are the so-called "Vikings" from the north."
print(txt) 

#You will get an error if you use double quotes inside a string that are surrounded by double quotes:

SyntaxError: invalid syntax (<ipython-input-3-8edd9b2d9177>, line 1)

In [51]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [52]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [53]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [54]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [56]:
txt = "Hello\rWorld!"
print(txt)

World!

In [57]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [58]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [59]:
txt = "Hello\fWorld!"
print(txt)

HelloWorld!

In [60]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [61]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

# Python String capitalize() Method

In [62]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [63]:
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [64]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

# Python String casefold() Method

In [4]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

# Python String center() Method

In [5]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [6]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

# Python String count() Method

In [7]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [8]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

# Python String encode() Method

In [9]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [10]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

# Python String endswith() Method

In [11]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [12]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [13]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

# Python String expandtabs() Method

In [14]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [15]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

# Python String find() Method

In [16]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [17]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [18]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [19]:
txt = "Hello, welcome to my world."

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

# Python String format() Method

In [20]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [22]:
#named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
#numbered indexes:
txt2 = "My name is {0}, I'm {1}".format("John",36)
#empty placeholders:
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [23]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [24]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [25]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [26]:
#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

# Python String index() Method

In [27]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

# Python String isalnum() Method

In [28]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [29]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

# Python String join() Method

In [30]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [31]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

# Python String maketrans() Method

In [32]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [33]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [34]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [35]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(txt.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

# Python String partition() Method

In [36]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [38]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

# Python Booleans

In [65]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [66]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [67]:
print(bool("Hello"))
print(bool(15))

True
True

In [68]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [70]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [71]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [72]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [73]:
def myFunction() :
  return True

print(myFunction())

True

In [74]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [75]:
x = 200
print(isinstance(x, int))

True

# Python Lists

In [76]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [77]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [78]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [79]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [80]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

In [81]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [82]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# Python - Access List Items

In [83]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [84]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [85]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [86]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [87]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [88]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [89]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Python - Change List Items

In [90]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [91]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [92]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [93]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [94]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# Python - Add List Items

In [95]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [96]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [97]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [98]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Remove List Items

In [99]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [100]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [101]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [102]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [104]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'thislist' is not defined

In [105]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Python - Loop Lists

In [106]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [107]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [108]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [109]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

# Python - List Comprehension

In [110]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [111]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [112]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [113]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [114]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [116]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [117]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [118]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

# Python - Sort Lists

In [119]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [120]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [121]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [122]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [123]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [124]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [125]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [126]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Python - Copy Lists

In [127]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [128]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Python - Join Lists

In [129]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [130]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [131]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python Tuples

In [132]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [133]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [134]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [135]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [136]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

In [40]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [41]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

# Python - Access Tuple Items

In [138]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [139]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [140]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [141]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [142]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [143]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [144]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Python - Update Tuples

In [145]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [147]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [148]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [149]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [150]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Python - Unpack Tuples

In [151]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [152]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [153]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Python - Loop Tuples

In [154]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [155]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [156]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Python - Join Tuples

In [157]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [158]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Python - Tuple Methods

In [159]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [160]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

# Python Sets

In [162]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [163]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [164]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [165]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [166]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 40, 'male', 'abc'}

In [167]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [168]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

# Python - Access Set Items

In [169]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [170]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Python - Add Set Items

In [171]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [172]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'cherry', 'papaya', 'apple', 'pineapple', 'banana'}

# Python - Remove Set Items

In [173]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [174]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [175]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [176]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [177]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Python - Loop Sets

In [178]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

# Python - Join Sets

In [179]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [180]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [181]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [182]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [183]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

In [184]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'banana', 'google'}

# Python Dictionaries

In [185]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [186]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [187]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [188]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

In [189]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [190]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

# Python - Access Dictionary Items

In [191]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [192]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [193]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [194]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [195]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [196]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [197]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [198]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [199]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [200]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [201]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

# Python - Change Dictionary Items

In [202]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [203]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# Python - Add Dictionary Items

In [204]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [205]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Python - Remove Dictionary Items

In [206]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [207]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [208]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [209]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# Python - Loop Dictionaries

In [210]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [211]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [212]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [213]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.keys():
  print(x)

brand
model
year

In [214]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

# Python - Copy Dictionaries

In [216]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [217]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Python - Nested Dictionaries

In [218]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [219]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}