# Python Operators

In [3]:
print(10+5)

15

### Python Arithmetic Operators

In [4]:
x = 5
y = 3

print(x + y)

8

In [5]:
x = 5
y = 3

print(x - y)

2

In [6]:
x = 5
y = 3

print(x * y)

15

In [7]:
x = 12
y = 3

print(x / y)

4.0

In [8]:
x = 5
y = 2

print(x % y)

1

In [9]:
x = 2
y = 5

print(x ** y)

32

In [10]:
x = 15
y = 2

print(x // y)

7

### Python Assignment Operators

In [11]:
x = 5

print(x)

5

In [12]:
x = 5

x += 3

print(x)

8

In [13]:
x = 5

x -= 3

print(x)

2

In [14]:
x = 5

x *= 3

print(x)

15

In [15]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [16]:
x = 5

x%=3

print(x)

2

In [17]:
x = 5

x//=3

print(x)

1

In [18]:
x = 5

x **= 3

print(x)

125

In [19]:
x = 5

x &= 3

print(x)

1

In [20]:
x = 5

x |= 3

print(x)

7

In [21]:
x = 5

x ^= 3

print(x)

6

In [22]:
x = 5

x >>= 3

print(x)

0

In [23]:
x = 5

x <<= 3

print(x)

40

### Python Comparison Operators

In [24]:
x = 5
y = 3

print(x == y)

False

In [25]:
x = 5
y = 3

print(x != y)

True

In [26]:
x = 5
y = 3

print(x > y)

True

In [27]:
x = 5
y = 3

print(x < y)

False

In [28]:
x = 5
y = 3

print(x >= y)

True

In [29]:
x = 5
y = 3

print(x <= y)

False

### Python Logical Operators

In [30]:
x = 5

print(x > 3 and x < 10)

True

In [31]:
x = 5

print(x > 3 or x < 4)

True

In [32]:
x = 5

print(not(x > 3 and x < 10))

False

### Python Identity Operators

In [33]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [34]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
False

### Python Membership Operators

In [35]:
x = ["apple", "banana"]

print("banana" in x)

True

In [36]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

# Python If ... Else

In [37]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Identation

In [38]:
a = 33
b = 200
if b > a:
#print("b is greater than a") #error
  print("b is greater than a")

b is greater than a

### Elif

In [39]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Else

In [40]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [41]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Short Hand If

In [42]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

### Short Hand If ... Else

In [43]:
a = 2
b = 330

print("A") if a > b else print("B")

B

In [44]:
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

=

### And

In [45]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### Or

In [46]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

### Nested If

In [47]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### The pass Statement

In [50]:
a = 33
b = 200

if b > a:
  pass

# Python While Loops

### The while Loop

In [51]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### The break Statement

In [52]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

### The continue Statement

In [53]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else Statement

In [54]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops

In [55]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

### Looping Through a String

In [56]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### The break Statement

In [57]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [58]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

### The continue Statement

In [59]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### The range() Function

In [60]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [61]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [62]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

### Else in For Loop

In [63]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [64]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

### Nested Loops

In [65]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### The pass Statement

In [66]:
for x in [0, 1, 2]:
  pass