<a href="https://colab.research.google.com/github/Clrexty/ClassPersevere/blob/minggu2/tugas1_percy36.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Home
Python merupakan salah satu bahasa pemrograman tingkat tinggi yang populer.

In [ ]:
print("Hello World!")

Hello World!

##Python Intro
<p>Python diciptakan oleh Guido van Rossum dan dirilis pada 1991. Python dapat digunakan untuk web development, software development, mathematics, dan system scripting.</p>

###Why Python?
<p>Python dapat bekerja di platform-platform yang berbeda(Windows, Mac, Linux dll). Python juga memiliki syntax yang mirip dengan bahasa inggris jadi lebih gampang untuk dipahami oleh manusia. Syntax python juga memungkinkan developes untuk menulis program dengan lebih sedikit lines dibandingkan dengan beberapa bahasa pemrograman lain. Python juga dapat dijalankan pada interpreter system yang berarti prototyping dapat menjadi sangat cepat. Selain itu, python juga mensupport oop.

##Python Syntax

### Python Indetantion
Indentasi dalam python mengacu pada spasi diawal baris code seperti jika ingin membuat code dibaris baru pada syntax if, for, def, maka baris baru harus diawali dengan spasi minimal 1 karena jika tidak akan terjadi error. Sealin itu, jika ada lebih dari satu baris, dibaris selanjutnya harus memiliki jumlah spasi yang sama dengan baris sebelumnya agar tidak terjadi error.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [ ]:
if 5 > 2:
print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
    print("Five is greater than two!")

##Python Comments
Pada python, membuat comment(printah yang diabaikan(tidak akan ditampilkan )berguna sebagai penanda, mencegah code tertentu diexecute, ataupun untuk memberikan keterangan/penjelasan) dapat menggunakan syntax '#' untuk membuat comment sebanyak satu baris dan syntax ini dapat diletakkan diakhir ataupun diawal baris. Untuk comment multilines dapat menggunakan syntax triple double quotes (""") ataupun triple single quote(''').

In [ ]:
#This is a comment
print("Hello World!")

In [ ]:
print("Hello World!") #This is a comment

Hello WOrld!

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

##Python Variables
<p>Variable berfungsi sebagai tempat penyimpanan nilai secara sementara. Untuk pembuatan variable pada python sendiri tidak memerlukan pendeklarasian tipe data. </p>
<p>Python bersifat sensitive case yang berarti saat penamaan variable a dan A akan menjadi 2 variable yang berbeda(tidak saling overwrite).
<br>Untuk penamaan variable pada python haruslah diawali dengan huruf ataupun underscore tidak boleh diawali dengan angka dan hanya boleh mengandung alpha-numeric dan underscore.</br>

###Multi words variables name
Nama variable yang terdiri lebih dari satu kata bisa menjadi sulit untuk dibaca. Berikut beberapa teknik untuk memudahkan variable tersebut dibaca yaitu:
<br>Camel Case : setiap kata kecuali kata bertama diawali dengan huruf kapital.
<br>Pascal Case : setiap kata diawali dengan huruf kapital.
<br>Snake Case : setiap kata dipisahkan oleh underscore.

###Multi Assign Variable
Python memungkinkan user untuk menetapkan nilai ke beberapa variabel sekaligus dalam satu baris dengan nilai yang berbeda ataupun sama. Python juga memungkinkan user untuk menekstrak nilai-nilai dari list, tuple, dan lainnya kedalam variable yang disebut dengan <i>unpacking</i>.

###Output Variable
Pada python unuk mencetak output biasanya menggunakan syntax 'print'. Perintah ini dapat menggabungkan text dan variable, variable dan variable ataupun penjumlahan angka menggunakan karakter '+'. Karakter ini hanya bisa digunakan jika tipe data sama, apabila berbeda bisa menghasilkan error.

###Global Variable
Variable yang dibuat diluar fungsi disebut variable global, dimana variable global ini dapat digunakan didalam ataupun diluar fungsi. Untuk variable yang dibuat didalam fungsi sendiri disebut variabel lokal, dimana variable lokal hanya bisa digunakan didalam fungsi tempat variable tersebut dibuat. Jika variabel lokal dibuat dengan nama yang sama dengan variable global, maka nilai variabel tersebut saat berada didalam fungsi akan bernilai sama dengan nilai variabel lokal dan nilainya diluar fungsi tersebut akan sama dengan nilai variable global(original value). Untuk membuat variable global didalam sebuah fungsi dapat menggunakan keyword global.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
myVariableName = "John"
MyVariableName = "John"
my_variable_name = "John"

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
x = "awesome"
print("Python is " + x)

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
x = 5
y = "John"
print(x + y)

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

##Python Data Types
Python memiliki  beberapa tipe data built-in by default, yaitu:
<br>Text Type:	str
<br>Numeric Types:	int, float, complex
<br>Sequence Types:	list, tuple, range
<br>Mapping Type:	dict
<br>Set Types:	set, frozenset
<br>Boolean Type:	bool
<br>Binary Types:	bytes, bytearray, memoryview

<p>Untuk mengetahui tipe data dari suatu variable data menggunakan fungsi type()

In [ ]:
x = "Hello World"	                              #str	
x = 20	                                        #int	
x = 20.5	                                      #float	
x = 1j	                                        #complex	
x = ["apple", "banana", "cherry"]	              #list	
x = ("apple", "banana", "cherry")	              #tuple	
x = range(6)	                                  #range	
x = {"name" : "John", "age" : 36}	              #dict	
x = {"apple", "banana", "cherry"}	              #set	
x = frozenset({"apple", "banana", "cherry"})	  #frozenset	
x = True	                                      #bool	
x = b"Hello"	                                  #bytes	
x = bytearray(5)                                #bytearray	
x = memoryview(bytes(5))	                      #memoryview

In [ ]:
x = 5
print(type(x))

In [ ]:
x = 1342982   # int
y = 2.8367222  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

In [ ]:
#contoh angka ilmiah
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
import random

print(random.randrange(1, 10))

##Python Casting
Untuk memberikan tipe data yang spesifik pada variable dapat menggunakan casting.

In [ ]:
x = str("Hello World")	
x = int(20)
x = float(20.5)	
x = complex(1j)		
x = list(("apple", "banana", "cherry"))		
x = tuple(("apple", "banana", "cherry"))		
x = range(6)		
x = dict(name="John", age=36)		
x = set(("apple", "banana", "cherry"))		
x = frozenset(("apple", "banana", "cherry"))		
x = bool(5)		
x = bytes(5)		
x = bytearray(5)		
x = memoryview(bytes(5))

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

##Python String
String pada python diapit oleh tanda petik satu atauputn petik dua yang dapat ditampilkan menggunakan perintah print. Pada python, string juga bisa dikatakan sebagai array. Untuk menggabungkan string dan angka dapat menggunakan format() dengan placeholder {}.

In [ ]:
print("Hello")
print('Hello')

In [ ]:
#assign string to a variable
a = "Hello"
print(a)

In [ ]:
#multiline string
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

In [ ]:
a = "Hello, World!"
print(a[1])

In [ ]:
#looping through string
for x in "banana":
  print(x)

In [ ]:
#string length(*untuk melihat panjang string dapat menggunakan perintah len())
a = "Hello, World!"
print(len(a))

In [ ]:
#check string
txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

#check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

In [ ]:
#slicing string
b = "Hello, World!"
print(b[2:5]) #dimulai dari indeks ke-2 sampai indeks ke-(5-1)

#slice from the start
b = "Hello, World!"
print(b[:5])

#slice to the end
b = "Hello, World!"
print(b[2:])

#negative indexing(dimulai dari akhir(posisi paling belakang))
b = "Hello, World!"
print(b[-5:-2]) #dimulai dari indeks ke (-5) sampai indeks ke (-2-1)

In [ ]:
#Modify String

#mengubah string menjadi huruf kapital
a = "Hello, World!"
print(a.upper())

#mengubah string menjadi huruf kecil
a = "Hello, World!"
print(a.lower())

#menghapus spasi yang ada di awal dan akhir string
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

#mengganti string menjadi string yang lain
a = "Hello, World!"
print(a.replace("H", "J"))

#memisahkan string menjadi beberapa substring menggunakan separator tertentu
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

In [ ]:
#Penggabungan string (String Concatenation) --> dapat dilakukan menggunakan operator '+'
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [ ]:
#String Format
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [ ]:
#menggunakan indeks pada placeholder agar lebih pas
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

In [ ]:
#Escape characters(menginsetr karakter ilegal)---> bisanya menggunakan '\'
"""
<br>\'	Single Quote	
<br>\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value
"""
txt = "We are the so-called \"Vikings\" from the north."

##Python Boolean
Boolean mewakili True or False

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)


a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")


#evaluasi nilai dan variable
print(bool("Hello"))
print(bool(15))

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

In [ ]:
#Nilai yang bernilai salah
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

In [ ]:
def myFunction() :
  return True

print(myFunction())

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

In [ ]:
#mengecek apakah variable merupakan bertipe data tertentu
x = 200
print(isinstance(x, int))

##Python List
List pada python digunakan untuk menyimpan multiple nilai kedalam sebuah variabel. List dibuat menggunakan kurung siku(square brackets) '[]'.
<p>Item pada list ordered, changeable, and allow duplicate values, dimana item memiliki index(dimulai dari index 0 untuk item pertama, index 1 untuk item kedua, dst.)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
#menggunakan len untuk mengetahui jumlah item dalam list
print(len(thislist))

In [ ]:
#allow duplicate(*ada 2 item apple dan cherry)
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

In [ ]:
#bisa mengandung tipe data apa saja
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

#bisa mengandung tipe data berbeda beda dalam satu variable
list1 = ["abc", 34, True, 40, "male"]

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

In [ ]:
#mengakses item pada indeks tertentu
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[-1])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

#mengecek item
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

banana
cherry
['cherry', 'orange', 'kiwi']

In [ ]:
#mengubah nilai item
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

#mengubah range
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

#insert item(menambah item pada indeks yang diinginkan)
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

#append item(menambah item diindeks akhir)
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

#extend list(menambah item dari list(tidak harus list, bisa tuple, set, dict, etc.) lain dimulai dari indeks terakhir(apped))
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

In [ ]:
#menghapus item secara spesifik(menggunakan remove())
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

#menghapus item berdasarkan index(menggunakan pop())
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop() #jika indeks tidak disebutkan maka yang dihapus indeks terakhir
print(thislist)

#menghapus item berdasarkan index(menggunakan del)
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist #list akan dihapus jika tidak disebtkan index tertentu

#mengosongkan list menggunakan clear()
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

#loop through a list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
#list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

#one line code
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

newlist = [x for x in fruits if x != "apple"]

#tanpa if
newlist = [x for x in fruits]

#using range()
newlist = [x for x in range(10)]
newlist = [x for x in range(10) if x < 5]

newlist = [x.upper() for x in fruits]
newlist = ['hello' for x in fruits]
newlist = [x if x != "banana" else "orange" for x in fruits]

In [ ]:
#Sort List
#ascending(kecil ke besar) alphanumerically using sort()
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

#descending(besar ke kecil)
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

#customized sort function
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

#Case Insensitive Sort()-->huruf kapital ke huruf kecil
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

#huruf kecil ke huruf besar
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

#reverse order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
#copy list menggunakan copy()
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

#copy list menggunakan list()
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

#join two list using '+'
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

#join two list using append()
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

#join two list using extend()
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

##Tuple
Tuple digunakan untuk menyimpan multiple item kedalam sebuah variable dimana tuple is ordered, allow duplicate dan unchangeable. Tuple  ditulis menggunakan kurung siku(round brackets) '()'.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

#allow duplicate(*2 item apple dan cherry)
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

#melihat jumlah item pada tuple menggunakan len()
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

#tuple dengan 1 item(menggunakan koma setelah item pertama)
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

#tuple dapat berisi item dengan tipe data apapun
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

#tuple dapat mengandung item dengan berbagai tipe data dalam 1 variable
tuple1 = ("abc", 34, True, 40, "male")

#mengecek tipe data tuple
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

#tuple() constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

In [ ]:
#access tuple item
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

#check item
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

#mengubah nilai item
'''karena nilai tuple tidak bisa diubah(unchangable),
 maka jika ingin mengubah nilainya dapat dengan cara mengubah tuple ke list,
 lalu mengubah nilainya dan mengubah kembali list ke bentuk tuple)'''

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

#add item
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

#remove item
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

#add tuple to a tuple(*diperbolehkan tanpa harus mengubah tuple ke bentuk lain)
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

In [ ]:
#delete tuple
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

In [ ]:
#packing tuple
fruits = ("apple", "banana", "cherry")

#unpacking a tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

#jika jumlah variable lebih kecil daripada jumlah nilai, dapat menggunakan * 
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

In [ ]:
#loop through a tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

In [ ]:
#join tuple using + operator
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#mengalikan (multiply tuple) using * operator
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

##Set
Set digunakan untuk menyimpan beberapa nilai kedalam sebuah variable. Set merupakan collection yang unordered, unchangeable(tetapi bisa remove or add new items), and unindexed. Set ditulis menggunakan kurung kurawal(curly brackets) '{}'. Didalam set tidak dibolehkan item dengan nilai yang sama(duplicate).

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

#not allow duplicate
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset) #apple yang 1 lagi diabaikan 

#melihat jumlah item pada set
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

#item set dapat bertipe data apa saja dan dalam 1 set bisa berisi lebih dari 1 tipe data
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

#tipe set
myset = {"apple", "banana", "cherry"}
print(type(myset))

#set() constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

In [ ]:
#access set item loop through set
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

#check item
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

#add new item
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

#Add item dari set(tidak harus set, bisa list, tuple, dict, etc.) lain menggunakan update()
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

#remove set item tertentu menggunakan remove()
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

#remove set item tertentu menggunakan discard()
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

#remove the last(indeks terakhir) set item menggunakan pop()
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x) #item yang dihapus
print(thisset) #set setelah removal

#menghapus semua set item menggunakan clear
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

#menghapus set menggunakan del
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

In [ ]:
#loop
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

#join menggunakan union()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

#join menggunakan update()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

#hanya menyimpan item yang bernilai sama(*sama sama ada di kedua set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y) #yang direturn set baru
print(z)

#hanya menyimpan item yang bernilai beda(*tidak ada di kedua set)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y) #di return di set baru
print(z)

##Dictionary
Dictionary menyimpan data values in key:value pairs. Dictionary adalah kumpulan item yang ordered*, changeable and do not allow duplicates. Biasanya dictionary ditulis menggunakan kurung kurawal dan mempunyai key dan value.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

#mencetak value dari "brand"
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

#terjadi overwrite(not allow duplicate) pada key year
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

#melihat jumlah item(*berapa pasang key dan value) pada dictionary menggunakan len()
print(len(thisdict))

#dictionary dapat menyimpan berbagai tipe data
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

#melihat tipe data dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

In [ ]:
#access dictionary item
#mendapatkan nilai dari key "model"
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

#ataupun dengan get()
x = thisdict.get("model")

#melihat semua key yang ada pada dictionary
x = thisdict.keys()

#melihat semua value yang ada pada dictionary
x = thisdict.values()

#menampilkan semua item yang ada pda dictionary
x = thisdict.items()

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
#check key
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

In [ ]:
#mengubah nilai
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

#mengubah nilai menggunakan update()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

#menambah item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

#menambah item menggunakan update()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

#menghapus item tertentu menggunakan pop()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

#menghapus item tertentu menggunakan del
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

#menghapus item indeks terakhir menggunakan popitem()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
#mengahpus dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [ ]:
#mengkosongkan item dalam dictionary menggunakan clear()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

#loop menampilkan key
for x in thisdict:
  print(x)

for x in thisdict.keys():
  print(x)

#loop menampilkan value
for x in thisdict:
  print(thisdict[x])

for x in thisdict.values():
  print(x)

#loop menampilkan item(key and value)
for x, y in thisdict.items():
  print(x, y)

In [ ]:
#copy dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

#copy menggunakan dict()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

In [ ]:
#nested dict
#membuat dict yang menagndung 3 dicts
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}