# Python Home

In [1]:
print("Hello, World")

Hello, World

# Python Variables

## 1. Python Variables

### a. Creating Variables

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

### b. Casting

There may be times when you want to specify a type on to a variable. This can be done with casting.

In [4]:
x = str(3)
y = int(3)
z = float(3)

### c. Get the Type
You can get the data type of a variable with the type() function.

In [5]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### d. Single or Double Quotes?
String variables can be declared either by using single or double quotes:

In [37]:
x = "John"
# is the same as
x = 'John'

### e. Case-Sensitive
Variable names are case-sensitive.

In [38]:
#This will create two variables:

a = 4
A = "Sally"
#A will not overwrite a

### f. Type Conversion

In [10]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

## 2. Assign Multiple Values

### a. Many Values to Multiple Variables

Python allows you to assign values to multiple variables in one line:

In [6]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### b. One Value to Multiple Variables
you can assign the same value to multiple variables in one line:

In [40]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### c. Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [41]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## 2. Output Variables

The python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character

In [7]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [8]:
x = "Python is "
y = "awesome"
z = x + y
print(z)

Python is awesome

## 3. Global Variables

Variables that are created outside of a function are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [42]:
#Create a variable outside of a function, and use it inside the function
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [43]:
#Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# Python Numbers

## 1. Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [45]:
#Import the random module, and display a random number between 1 and 8:
    
import random

print(random.randrange(1, 8))

1

# Python Strings

## 1. Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [12]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## 2. Slicing  Strings

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

### a. Slicing

In [14]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

### b. Slice From the Start
By leaving out the start index, the range will start at the first character:

In [17]:
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

### c. Slice To the End
By leaving out the end index, the range will go to the end:

In [16]:
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

### d. Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [19]:
#Use negative indexes to start the slice from the end of the string:

b = "Hello, World!"
print(b[-5:-2])

orl

### 3. Modify Strings

Python has a set of built-in methods that you can use on strings.

### a. Upper Case

The upper() method returns the string in upper case:

In [20]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### b. Lower Case

The lower() method returns the string in lower case:

In [21]:
a = "Hello, World!"
print(a.lower())

hello, world!

### c. Remove whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [22]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### d. Replace String

The replace() method replaces a string with another string:

In [23]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### e. Split String
The split() method splits the string into substrings if it finds instances of the separator:

In [24]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## 4. String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [26]:
# Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

#To add a space between them, add a " ":
d = "Hello"
e = "World"
f = d + " " + e
print(f)

HelloWorld
Hello World

## 5. Format String
But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [27]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [29]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## 6. Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [31]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# Python Booleans
Booleans represent one of two values: True or False.

## 1. Boolean Values

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [33]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [34]:
#Print a message based on whether the condition is True or False:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### 2. Evaluate Values and Variables

The bool() function allows you to evaluate any value, and give you True or False in return,

In [35]:
#Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

## 3. Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [46]:
#The following will return True:

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## 4. Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [47]:
#The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

## 5. Functions can Return a Boolean
Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [48]:
#Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

True