# Python Variable
### Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [1]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

### Casting
If you want to specify the data type of a variable, this can be done with casting.

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

### Single or Double Quote

In [4]:
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

John
John

### Case Sensitive

In [5]:
a = 4
A = "Sally"
print(a)
print(A)

4
Sally

## Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [6]:
myvar = "John"
my_var = "John"
_my_var = "John" #snake case
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

## Assign Multiple Values
### Many Values to Multiple Variables

In [7]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [8]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [9]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Output Variables

In [10]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [11]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [12]:
x = 5
y = 10
print(x + y)

15

# Python Data Types
## Getting the Data Type

In [13]:
x = 5
print(type(x))

<class 'int'>

In [14]:
x  = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [15]:
x = int(20) #integer
print(x)
print(type(x))

20
<class 'int'>

In [16]:
x = 20.5 #float
print(x)
print(type(x))

20.5
<class 'float'>

In [17]:
x = 1j #complex
print(x)
print(type(x))

1j
<class 'complex'>

In [18]:
x = ["apple", "banana", "cherry"] #list
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [19]:
x = ("apple", "banana", "cherry") #tuple
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [20]:
x = range(6) #range
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [21]:
x = {"name" : "John", "age" : 36} #dictionary
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [22]:
x = {"apple", "banana", "cherry"} #set
print(x)
print(type(x))

{'cherry', 'banana', 'apple'}
<class 'set'>

In [23]:
x = frozenset({"apple", "banana", "cherry"}) #frozenset
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [24]:
x = True #boolean
print(x)
print(type(x))

True
<class 'bool'>

In [25]:
x = bytes(5) #bytes
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [26]:
x = bytearray(5) #bytearray
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [27]:
x = memoryview(bytes(5)) #memoryview
print(x)
print(type(x))

<memory at 0x7fc68ea3cf40>
<class 'memoryview'>

# Python Numbers

In [28]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Int

In [29]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Float

In [30]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [31]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Complex

In [32]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

### Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [33]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [34]:
import random

print(random.randrange(1, 10))

3

# Python Casting
### Specify a Variable Type
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [35]:
x = int(1)   
y = int(2.8) 
z = int("3") 
print(x)
print(y)
print(z)

1
2
3

In [36]:
x = float(1)     
y = float(2.8)   
z = float("3")   
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [37]:
x = str("s1") 
y = str(2)    
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

# Python Strings
### Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [38]:
print("Hello")
print('Hello')

Hello
Hello

### Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [39]:
a = "Hello"
print(a)

Hello

### Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [40]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [41]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [42]:
a = "Hello, World!"
print(a[1])

e

### Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [43]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### String Length
To get the length of a string, use the len() function.

In [44]:
a = "Hello, World!"
print(len(a))

13

### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [45]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [46]:
# Use it in an if statement
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [47]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [48]:
# Use it in an if statement
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## Python - Slicing Strings
### Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [49]:
b = "Hello, World!"
print(b[2:5])

llo

### Slice From the Start
By leaving out the start index, the range will start at the first character:

In [50]:
b = "Hello, World!"
print(b[:5])

Hello

### Slice To the End
By leaving out the end index, the range will go to the end:

In [51]:
b = "Hello, World!"
print(b[2:])

llo, World!

### Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [52]:
b = "Hello, World!"
print(b[-5:-2])

orl

## Python Modify Strings
ython has a set of built-in methods that you can use on strings.

### Upper Case

In [53]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### Lower Case

In [54]:
a = "Hello, World!"
print(a.lower())

hello, world!

### Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [55]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

### Replace String

In [56]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

### Split String
The split() method returns a list where the text between the specified separator becomes the list items.

In [57]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## Python - String Concatenation
### String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [58]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [59]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## Python - Format - Strings
### String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [60]:
age = 36
txt = "My name is John, I am {}"
print(txt.format(age))

My name is John, I am 36

In [61]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [62]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Python Escape Characters
### Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [64]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [65]:
# single quote
txt = 'It\'s alright.'
print(txt)

It's alright.

In [66]:
#backslash
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [67]:
#New line
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [68]:
#Carriage Return
txt = "Hello\rWorld!"
print(txt)

World!

In [69]:
#Tab
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [70]:
#Backspace
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [71]:
#Octal Value
txt = "\110\145\154\154\157"
print(txt)

Hello

In [72]:
#Hex Value
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

In [73]:
#capitalize
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [74]:
#casefold()
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [75]:
#center()
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [76]:
#count()
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [77]:
#encode()
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [78]:
#endwith
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

# Python Boolean
## Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [79]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [80]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [81]:
print(bool("Hello"))
print(bool(15))

True
True

In [82]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True