Pada tugas 2 ini telah dipraktekkan materi lanjutan tugas 1 dari website w3school yaitu ; python operators, lists, tuples, sets, dictionaries, if..else, while loops, dan for loops

## Python Operators

In [1]:
alas = 10
tinggi = 25
luas_segitiga = (alas*tinggi)/2
print(luas_segitiga)

125.0

## Pyhton Lists

### List

In [4]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
print(Menu)

['nasi goreng', 'ayam bakar', 'siomay']

### List Allow Duplicates

In [5]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "nasi goreng"]
print(Menu)

['nasi goreng', 'ayam bakar', 'siomay', 'nasi goreng']

### List Length

In [8]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
print(len(Menu))

3

### List Items - Data Types

In [12]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
Nomor_urut = [1, 5, 7, 9, 3]
Boolean = [True, False, False]
Campuran = ["nasi goreng", 3, True]
print(Menu, Nomor_urut, Boolean)
print(Campuran)

['nasi goreng', 'ayam bakar', 'siomay'] [1, 5, 7, 9, 3] [True, False, False]
['nasi goreng', 3, True]

### type ()

In [13]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
print(type(Menu))

<class 'list'>

### The list() Constructor

In [16]:
Menu = list(("nasi goreng", "ayam bakar", "siomay"))
print(Menu)
print(type(Menu))

['nasi goreng', 'ayam bakar', 'siomay']
<class 'list'>

## Python - Access List Items

### Access Items

In [17]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
print(Menu[1])

ayam bakar

### Negative Indexing

In [18]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
print(Menu[-1])

siomay

### Range of Index

In [20]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
print(Menu[1:3])

['ayam bakar', 'siomay']

In [22]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
print(Menu[:3])

['nasi goreng', 'ayam bakar', 'siomay']

In [23]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
print(Menu[1:])

['ayam bakar', 'siomay']

## Change list Items

### Change Item Value

In [24]:
Menu = ["nasi goreng", "ayam bakar", "siomay"]
Menu[1] = "gorengan"
print(Menu)

['nasi goreng', 'gorengan', 'siomay']

### Change a Range of Item Values

In [25]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu[1:3] = ["sambal terong", "sop buntut"]
print(Menu)

['nasi goreng', 'sambal terong', 'sop buntut', 'gorengan', 'pisang rebus', 'pecak lele']

In [26]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu[1:3] = ["iga bakar"]
print(Menu)

['nasi goreng', 'iga bakar', 'gorengan', 'pisang rebus', 'pecak lele']

### Insert Items

In [28]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu.insert(2, "iga bakar")
print(Menu)

['nasi goreng', 'ayam bakar', 'iga bakar', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele']

### Add List Items

### Append Items

In [29]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu.append("iga bakar")
print(Menu)

['nasi goreng', 'ayam bakar', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele', 'iga bakar']

### Insert Items

In [31]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu.insert(1, "iga bakar")
print(Menu)

['nasi goreng', 'iga bakar', 'ayam bakar', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele']

### Extend List

In [32]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Minuman = ["es jeruk", "teh hangat", "es teh"]
Menu.extend(Minuman)
print(Menu)

['nasi goreng', 'ayam bakar', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele', 'es jeruk', 'teh hangat', 'es teh']

### Add Any Iterable

In [33]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Minuman_tuple = ("es teh", "teh hangat")
Menu.extend(Minuman_tuple)
print(Menu)

['nasi goreng', 'ayam bakar', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele', 'es teh', 'teh hangat']

## Python - Remove List Items

### Remove Specified Item

In [34]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu.remove("ayam bakar")
print(Menu)

['nasi goreng', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele']

### Remove Specified Index

In [35]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu.pop(1)
print(Menu)

['nasi goreng', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele']

In [36]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu.pop()
print(Menu)

['nasi goreng', 'ayam bakar', 'siomay', 'gorengan', 'pisang rebus']

In [37]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
del Menu[0]
print(Menu)

['ayam bakar', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele']

### Clear the List

In [40]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu.clear()
print(Menu)

[]

## Python - Loop Lists

### Loop Through a List

In [1]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
for x in Menu :
    print(x)

nasi goreng
ayam bakar
siomay
gorengan
pisang rebus
pecak lele

### Loop Through the Index Numbers

In [44]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
for i in range (len(Menu)):
    print(Menu[i])

nasi goreng
ayam bakar
siomay
gorengan
pisang rebus
pecak lele

### Using a While Loop

In [45]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
i = 0
while i < len(Menu):
    print(Menu[i])
    i = i+1

nasi goreng
ayam bakar
siomay
gorengan
pisang rebus
pecak lele

### Looping Using List Comprehension

In [46]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
[print(x) for x in Menu]

nasi goreng
ayam bakar
siomay
gorengan
pisang rebus
pecak lele

[None, None, None, None, None, None]

## Python - List Comprehension

### List Comprehension

In [ ]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
newlist = []

for x in Menu:
    if "a" in x:
        Menu.append(x)
        
print(Menu)

In [4]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
newlist = [x for x in Menu if "a" in x]
print(Menu)

['nasi goreng', 'ayam bakar', 'siomay', 'gorengan', 'pisang rebus', 'pecak lele']

### The Syntax

In [3]:
newlist = [x for x in Menu if x != "siomay"]
print(Menu)

['ayam bakar', 'gorengan', 'nasi goreng', 'pecak lele', 'pisang rebus', 'siomay']

## Sort List

In [2]:
Menu = ["nasi goreng", "ayam bakar", "siomay", "gorengan", "pisang rebus", "pecak lele"]
Menu.sort()
print(Menu)

['ayam bakar', 'gorengan', 'nasi goreng', 'pecak lele', 'pisang rebus', 'siomay']

In [1]:
Nomor = [5, 4, 3, 2, 1]
Nomor.sort()
print(Nomor)

[1, 2, 3, 4, 5]

## Tuple

In [9]:
mytuple = ("kaos", "celana", "baju", "rok", "sarung")
print(mytuple)

('kaos', 'celana', 'baju', 'rok', 'sarung')

In [10]:
mytuple = ("kaos", "celana", "baju", "rok", "sarung")
print(mytuple[2])
print(mytuple[:3])
print(mytuple[2:])

baju
('kaos', 'celana', 'baju')
('baju', 'rok', 'sarung')

### Update Tuples

In [5]:
thistuple = ("kaos", "celana", "baju", "rok", "sarung")
y = ("kerudung",)
thistuple += y

print(thistuple)

('kaos', 'celana', 'baju', 'rok', 'sarung', 'kerudung')

### Unpacking Tuples

In [14]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [15]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [16]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Loop Tuples

### Loop Through a Tuple

In [17]:
thistuple = ("kaos", "celana", "baju", "rok", "sarung")
for x in thistuple:
  print(x)

kaos
celana
baju
rok
sarung

### Loop Through the Index Number

In [18]:
thistuple = ("kaos", "celana", "baju", "rok", "sarung")
for i in range(len(thistuple)):
  print(thistuple[i])

kaos
celana
baju
rok
sarung

### Using a While loop

In [19]:
thistuple = ("kaos", "celana", "baju", "rok", "sarung")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

kaos
celana
baju
rok
sarung

## Python - Join Tuples

### Join Two Tuples

In [21]:
tuple1 = ("kaos", "celana", "baju", "rok", "sarung")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('kaos', 'celana', 'baju', 'rok', 'sarung', 1, 2, 3)

### Multiple Tuples

In [23]:
pilihan = ("kaos", "celana", "baju", "rok", "sarung")
mytuple = pilihan * 2

print(mytuple)

('kaos', 'celana', 'baju', 'rok', 'sarung', 'kaos', 'celana', 'baju', 'rok', 'sarung')

### Tuple Methods

In [26]:
pilihan = ("kaos", "celana", "baju", "rok", "sarung")
print(pilihan.count("kaos"))

1

## Python Sets

In [27]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}
print(thisset)

{'baju', 'sarung', 'kaos', 'celana', 'rok'}

In [28]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}

for x in thisset:
  print(x)

baju
sarung
kaos
celana
rok

In [29]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}

thisset.add("kerudung")

print(thisset)

{'baju', 'sarung', 'kaos', 'celana', 'kerudung', 'rok'}

In [30]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}
new = {"kerudung", "peci"}

thisset.update(new)

print(thisset)

{'baju', 'sarung', 'kaos', 'celana', 'kerudung', 'rok', 'peci'}

In [31]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}
mylist = ["sandal", "sepatu"]

thisset.update(mylist)

print(thisset)

{'sepatu', 'baju', 'sarung', 'kaos', 'celana', 'sandal', 'rok'}

## Python - Remove Set Items

In [32]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}

thisset.remove("rok")

print(thisset)

{'baju', 'sarung', 'kaos', 'celana'}

In [33]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}

thisset.discard("rok")

print(thisset)

{'baju', 'sarung', 'kaos', 'celana'}

In [34]:
thisset = {""kaos", "celana", "baju", "rok", "sarung"}

x = thisset.pop()

print(x)

print(thisset)

SyntaxError: invalid syntax (<ipython-input-34-d3f9be2016b6>, line 1)

In [58]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [35]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

## Python - Loop Sets

In [36]:
thisset = {"kaos", "celana", "baju", "rok", "sarung"}

for x in thisset:
  print(x)

baju
sarung
kaos
celana
rok

## Python - Join Sets

In [37]:
set1 = {"kaos", "celana", "baju", "rok", "sarung"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'baju', 1, 2, 'sarung', 'kaos', 3, 'celana', 'rok'}

In [38]:
set1 = {"kaos", "celana", "baju", "rok", "sarung"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'baju', 1, 2, 'sarung', 'kaos', 3, 'celana', 'rok'}

In [40]:
x = {"kaos", "celana", "baju", "rok", "sarung"}
y = {"kerudung", "peci", "celana"}

x.intersection_update(y)

print(x)

{'celana'}

In [41]:
x = {"kaos", "celana", "baju", "rok", "sarung"}
y = {"kerudung", "peci", "celana"}

z = x.intersection(y)

print(z)

{'celana'}

In [42]:
x = {"kaos", "celana", "baju", "rok", "sarung"}
y = {"kerudung", "peci", "celana"}

x.symmetric_difference_update(y)

print(x)

{'baju', 'sarung', 'kaos', 'kerudung', 'rok', 'peci'}

In [43]:
x = {"kaos", "celana", "baju", "rok", "sarung"}
y = {"kerudung", "peci", "celana"}

z = x.symmetric_difference(y)

print(z)

{'baju', 'sarung', 'kaos', 'kerudung', 'rok', 'peci'}

## Python Dictionaries

In [46]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021
}
print(thisdict)

{'nama': 'Mely', 'kode': 8, 'tahun': 2021}

In [47]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021
}
print(thisdict["nama"])

Mely

In [48]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021
  "tahun": 1945
}
print(thisdict)

SyntaxError: invalid syntax (<ipython-input-48-a955025a8f82>, line 5)

In [1]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021
}
print(len(thisdict))

3

In [2]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
print(thisdict)

{'nama': 'Mely', 'kode': 8, 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur']}

### Accessing Items

In [6]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
x = thisdict["kode"]
print(x)

8

In [7]:
x = thisdict.get("kode")
print(x)

8

In [8]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}

x = thisdict.keys()
print(x)
thisdict["idola"] = "jung hae in"
print(x)

dict_keys(['nama', 'kode', 'tahun', 'hobi'])
dict_keys(['nama', 'kode', 'tahun', 'hobi', 'idola'])

In [11]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
x = thisdict.values()

print(x)

thisdict["tahun"] = 2022
print(x)

dict_values(['Mely', 8, 2021, ['membaca', 'terbang', 'tidur']])
dict_values(['Mely', 8, 2022, ['membaca', 'terbang', 'tidur']])

In [12]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
x = thisdict.items()

print(x)
thisdict["tahun"] = 2022
print(x)

dict_items([('nama', 'Mely'), ('kode', 8), ('tahun', 2021), ('hobi', ['membaca', 'terbang', 'tidur'])])
dict_items([('nama', 'Mely'), ('kode', 8), ('tahun', 2022), ('hobi', ['membaca', 'terbang', 'tidur'])])

In [13]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
if "kode" in thisdict:
    print("Ya")

Ya

## Change Items

In [15]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
thisdict["tahun"] = 2022
print(thisdict)

{'nama': 'Mely', 'kode': 8, 'tahun': 2022, 'hobi': ['membaca', 'terbang', 'tidur']}

In [18]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
thisdict.update({"tahun": 2020})
print(thisdict)

{'nama': 'Mely', 'kode': 8, 'tahun': 2020, 'hobi': ['membaca', 'terbang', 'tidur']}

## Add Items

In [19]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
thisdict["idola"] = "Jung Hae In"
print(thisdict)

{'nama': 'Mely', 'kode': 8, 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur'], 'idola': 'Jung Hae In'}

## Removing Items

In [20]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
thisdict.pop("kode")
print(thisdict)

{'nama': 'Mely', 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur']}

In [21]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
thisdict.clear()
print(thisdict)

{}

## Loop Dictionaries

In [24]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
for x in thisdict:
    print(thisdict)

{'nama': 'Mely', 'kode': 8, 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur']}
{'nama': 'Mely', 'kode': 8, 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur']}
{'nama': 'Mely', 'kode': 8, 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur']}
{'nama': 'Mely', 'kode': 8, 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur']}

In [26]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
for x in thisdict:
    print(thisdict[x])

Mely
8
2021
['membaca', 'terbang', 'tidur']

In [27]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
for x in thisdict.keys():
    print(x)

nama
kode
tahun
hobi

In [28]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
for x in thisdict.values():
    print(x)

Mely
8
2021
['membaca', 'terbang', 'tidur']

In [29]:
for x, y in thisdict.items():
    print(x, y)

nama Mely
kode 8
tahun 2021
hobi ['membaca', 'terbang', 'tidur']

## Copy Dictionaries

In [31]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
mydict = thisdict.copy()
print(mydict)

{'nama': 'Mely', 'kode': 8, 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur']}

In [32]:
thisdict = {
  "nama": "Mely",
  "kode": 8,
  "tahun": 2021,
  "hobi": ["membaca", "terbang", "tidur"]
}
mydict = dict(thisdict)
print(mydict)

{'nama': 'Mely', 'kode': 8, 'tahun': 2021, 'hobi': ['membaca', 'terbang', 'tidur']}

## Nested Dictionaries

In [33]:
Data_anak = {
  "anak1" : {
    "nama" : "Upin",
    "tahun" : 2015
  },
  "anak2" : {
    "nama" : "Ipin",
    "tahun" : 2015
  },
  "anak3" : {
    "nama" : "Ros",
    "tahun" : 2001
  }
}
print(Data_anak)

{'anak1': {'nama': 'Upin', 'tahun': 2015}, 'anak2': {'nama': 'Ipin', 'tahun': 2015}, 'anak3': {'nama': 'Ros', 'tahun': 2001}}

## Python If.. Else

In [35]:
a = 8
b = 800
if b > a:
  print("b lebih besar dari a")

b lebih besar dari a

In [36]:
a = 1000
b = 90
if b > a:
  print("b lebih besar dari a")
elif a == b:
  print("a sama besar dengan b")
else:
  print("a lebih besar dari b")

a lebih besar dari b

In [37]:
a = 698
b = 987
print("A") if a > b else print("B")

B

In [38]:
a = 769
b = 450
c = 877
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [39]:
a = 769
b = 450
c = 877
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [40]:
x = 85

if x > 10:
  print("Lebih dari 10,")
  if x > 20:
    print("Lebih dari 50")
  else:
    print("Tidak lebih dari 50")

Lebih dari 10,
Lebih dari 50

## Python While Loops

In [41]:
i = 1
while i < 8:
  print(i)
  i += 1

1
2
3
4
5
6
7

In [42]:
i = 2
while i < 8:
  print(i)
  if i == 3:
    break
  i += 1

2
3

In [43]:
i = 0
while i < 8:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7
8

In [45]:
i = 1
while i < 8:
  print(i)
  i += 1
else:
  print("i tidak lagi lebih dari 8")

1
2
3
4
5
6
7
i tidak lagi lebih dari 8

## For Loops

In [46]:
pilihan = ["baju", "kemeja", "kaos"]
for x in pilihan:
  print(x)

baju
kemeja
kaos

In [47]:
for x in "kemeja":
  print(x)

k
e
m
e
j
a

In [48]:
pilihan = ["baju", "kemeja", "kaos", "sarung"]
for x in pilihan:
  print(x)
  if x == "kaos":
    break

baju
kemeja
kaos

In [49]:
pilihan = ["baju", "kemeja", "kaos", "sarung"]
for x in pilihan:
  if x == "kemeja":
    break
  print(x)

baju

In [50]:
pilihan = ["baju", "kemeja", "kaos", "sarung"]
for x in pilihan:
  if x == "kaos":
    continue
  print(x)

baju
kemeja
sarung

In [51]:
for x in range(8):
  print(x)

0
1
2
3
4
5
6
7

In [52]:
for x in range(0, 8):
  print(x)

0
1
2
3
4
5
6
7

In [53]:
for x in range(2, 10, 4):
  print(x)

2
6

In [54]:
for x in range(8):
  print(x)
else:
  print("Selesai!")

0
1
2
3
4
5
6
7
Selesai!

In [55]:
for x in range(8):
  if x == 2: break
  print(x)
else:
  print("Selesai!")

0
1

In [57]:
pilihan = ["baju", "kemeja", "kaos", "sarung"]
warna = ["merah", "hitam", "kuning"]

for x in pilihan:
  for y in warna:
    print(x, y)

baju merah
baju hitam
baju kuning
kemeja merah
kemeja hitam
kemeja kuning
kaos merah
kaos hitam
kaos kuning
sarung merah
sarung hitam
sarung kuning