# membuat Hello world

In [1]:
print("Halo Dunia")

Halo Dunia

# membuat If beserta respond

In [3]:
if 5 > 2:
    print("Benar,5 lebih besar dari 2")

Benar,5 lebih besar dari 2

# membuat komentar

#Membuat Kolom Komentar

#ini adalah komentar

# membuat komentar lebih dari 1 baris

In [4]:
'''
ini adalah komentar
lebih dari satu baris
sekian
'''

'\nini adalah komentar\nlebih dari satu baris\nsekian\n'

# membuat Variabel

In [5]:
carname = 'avanza'

# membuat variabel x dengan nilai didalamnya

In [6]:
x = 50

# membuat variavel x dan y beserta operasi

In [7]:
x = 5
y = 20
print(x+y)

25

In [8]:
x = 5
y = 50
z = x + y
print(z)

55

In [9]:
myFirst_name = "uz"

In [10]:
x = y = z = "Biru"

# variabel Global scope

In [11]:
def myfunc():
    global x
    x="fantastic"

# tipe data

In [12]:
x = 5
print(type(x))

<class 'int'>

In [13]:
x = "hello world"
print(type(x))

<class 'str'>

In [14]:
x = 20.5
print(type(x))

<class 'float'>

In [15]:
x = ["apel","Pisang","Ceri"]
print(type(x))

<class 'list'>

In [16]:
x = ("apel","Pisang","Ceri")
print(type(x))

<class 'tuple'>

In [18]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [20]:
x = True
print(type(x))

<class 'bool'>

# mengubah float,integer dan kompleks

In [21]:
x = 10
x = float(x)
print(x)

10.0

In [23]:
x = 10.0
x = int(x)
print(x)

10

In [24]:
x = 10
x = complex(x)
print(x)

(10+0j)

# string

In [25]:
x = "Halo - Halo bandung"
print(len(x))

19

In [26]:
x = "Halo - Halo bandung"
print(x[1])

a

In [28]:
x = "Halo-Halo bandung"
print(x[2:5])

lo-

In [29]:
x = " Iteung kasarung "
print(x.strip())

Iteung kasarung

In [30]:
x = "Halo - Halo bandung"
print(x.upper())

HALO - HALO BANDUNG

In [31]:
x = "Halo - Halo bandung"
print(x.lower())

halo - halo bandung

In [32]:
x = "Halo - Halo bandung"
x = x.replace('H','J')
print(x)

Jalo - Jalo bandung

In [33]:
age = 40
txt = "Nama saya Kabayan, dan umur saya {}"
print(txt.format(age))

Nama saya Kabayan, dan umur saya 40

# Boelans

In [34]:
print(10>9)

True

In [35]:
print( 9 == 10)

False

In [36]:
print ( 10<9 )

False

In [37]:
print(bool("abc"))

True

In [38]:
print(bool(0))

False

# operator

In [39]:
print(54 * 24)

1296

In [40]:
print(200 / 5)

40.0

In [41]:
buah = ["apel", 'semangka']
if "apel" in buah:
    print("tentu saja apel itu buah")

tentu saja apel itu buah

In [43]:
if 5 != 10:
    print("oy,5 dan 10 itu tidak sama")

oy,5 dan 10 itu tidak sama

In [44]:
if 5 == 10 or 4 == 4:
    print("at least one of statement is true")

at least one of statement is true

# List

In [45]:
fruits = ["apple", "banana", "cherry"]
print(fruits[2])

cherry

In [46]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [47]:
fruits = ["apple", "banana", "cherry"]
fruits.append("Orange")
print(fruits)

['apple', 'banana', 'cherry', 'Orange']

In [51]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"Lemon")
print(fruits)

['apple', 'Lemon', 'banana', 'cherry']

In [52]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("apple")
print(fruits)

['banana', 'cherry']

In [53]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [54]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [55]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

# Tuple

In [56]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])

apple

In [57]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

In [58]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [59]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

# Sets

In [61]:
buah = {"apel", 'semangka'}
if "semangka" in buah:
    print("tentu saja Semangka itu buah")

tentu saja Semangka itu buah

In [62]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'apple', 'banana', 'orange'}

In [64]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]

fruits.update(more_fruits)
print(fruits)

{'cherry', 'orange', 'mango', 'grapes', 'apple', 'banana'}

In [65]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [66]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("apple")
print(fruits)

{'cherry', 'banana'}

# Dictionary

In [68]:
car =   {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get("model"))

Mustang

In [69]:
car =   {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car["year"] = 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [71]:
car =   {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [72]:
car =   {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [74]:
car =   {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}