In [1]:
print(10+5)

15

In [2]:
x = 5
y = 3

print(x + y)

8

In [3]:
print(x - y)

2

In [4]:
x = 5
y = 3

print(x * y)

15

In [5]:
print(x / y)

1.6666666666666667

In [6]:
print(5 - 10)

-5

In [7]:
print(10 % 5)

0

In [8]:
print(10 ** 2)

100

In [9]:
print(10 // 3)

3

In [10]:
x = 5

print(x)

5

In [11]:
x = 5
x += 2

print(x)

7

In [12]:
x = 10
x -= 5

print(x)

5

In [13]:
x = 8
x //= 3

print(x)

2

In [14]:
x = 7
x %= 4

print(x)

3

In [15]:
x = 3
x /= 2

print(x)

1.5

In [16]:
x = 8
x **= 2

print(x)

64

In [17]:
x = 4
x &= 1

print(x)

0

In [18]:
x = 8

x |= 5

print(x)

13

In [19]:
x = 1250
x ^= 550

print(x)

1732

In [20]:
x = 3

x >>= 1

print(x)

1

In [21]:
x = 10
y = '10'

print(type(x) == type(y))

False

In [22]:
x = 10
y = '10'

print(type(x) != type(y))

True

In [23]:
x = 10
y = 50

print(x < y)

True

In [24]:
x = 30
y = 30

print(x > y)

False

In [25]:
x = 1
y = 1

print(x <= y)

True

In [26]:
x = 2
y = 2

print(x >= y)

True

In [27]:
x = 10
y = 8

print(x <= 8 and 10 <= y)

False

In [28]:
x = 20
y = 10

print(x <= 10 or 20 <= y)

False

In [29]:
x = 5
y = 5

print(x <= 5 or 6 <= y)

True

In [30]:
x = 50
y = 50

print(not(x <= 50 and 60 <= y))

True

In [31]:
x = 10
y = 10

print(x is y)

True

In [32]:
x = 1
y = 1

print(x is not y)

False

In [33]:
x = 'edgina'
y = 'ini bapa edgina'

print(x in y)

True

In [34]:
x = 'edgina'
y = 'ini bapa edgina'

print(x not in y)

False

In [35]:
x = 20
y = 22
z = x | y
print(format(z, 'b'))

10110

In [36]:
x = 50
y = 52
z = x | y
print(format(z, 'b'))

110110

In [37]:
x = 50
y = 52
z = x & y
print(format(z, 'b'))

110000

In [38]:
x = 100
y = 102
z = x ^ y
print(format(z, 'b'))

10

In [39]:
x = 5
z = ~x
print(format(z, 'b'))

-110

In [40]:
x = 1000
y = 100
z = x << y
print(format(z, 'b'))

11111010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [41]:
x = 30
y = 32
z = x >> y
print(format(z, 'b'))

0

In [42]:
a = 20
b = 700
if b > a:
  print("b is greater than a")

b is greater than a

In [43]:
a = 20
b = 20
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [44]:
a = 700
b = 20
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [45]:
a = 700
b = 20
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [46]:
if a > b: print("a is greater than b")

a is greater than b

In [50]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [51]:
a = 700
b = 700
print("A") if a > b else print("=") if a == b else print("B")

=

In [52]:
a = 700
b = 20
c = 300
if a > b and c > a:
  print("Both conditions are True")

In [53]:
a = 700
b = 20
c = 300
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [54]:
x = 70

if x > 20:
  print("Above ten,")
  if x > 70:
    print("and also above 70!")
  else:
    print("but not above 70.")

Above ten,
but not above 70.

In [55]:
i = 2
while i < 8:
  print(i)
  i += 2

2
4
6

In [56]:
i = 2
while i < 8:
  print(i)
  if i == 5:
    break
  i += 2

2
4
6

In [57]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [58]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [59]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [60]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [61]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [62]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [63]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [64]:
for x in range(3):
  print(x)

0
1
2

In [65]:
for x in range(1, 6):
  print(x)

1
2
3
4
5

In [66]:
for x in range(1, 20, 2):
  print(x)

1
3
5
7
9
11
13
15
17
19

In [67]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [68]:
for x in range(5):
  if x == 2: break
  print(x)
else:
  print("Finally finished!")

0
1

In [69]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry