# Python Operators

## Python Aritmethic Operators

In [1]:
print(10+5)

15

In [2]:
#Addition
x = 5
y = 3

print(x + y)

8

In [3]:
#Subtraction
x = 5
y = 3

print(x - y)

2

In [4]:
#Multiplication
x = 5
y = 3

print(x * y)

15

In [5]:
#Devision
x = 5
y = 3

print(x / y)

1.6666666666666667

In [6]:
#Modulus
x = 5
y = 3

print(x % y)

2

In [7]:
#Exponentiation
x = 5
y = 3

print(x ** y)

125

In [8]:
#Floor division
x = 5
y = 3

print(x // y)

1

## Python Assigment Operators

In [9]:
x = 5

print(x)

5

In [10]:
x = 5

x += 3

print(x)

8

In [11]:
x = 5

x -= 3

print(x)

2

In [12]:
x = 5

x *= 3

print(x)

15

In [13]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [14]:
x = 5

x %= 3

print(x)

2

In [15]:
x = 5

x //= 3

print(x)

1

In [16]:
x = 5

x **= 3

print(x)

125

In [17]:
x = 5

x &= 3

print(x)

1

In [18]:
x = 5

x |= 3

print(x)

7

In [19]:
x = 5

x ^= 3

print(x)

6

In [20]:
x = 5

x >>= 3

print(x)

0

In [21]:
x = 5

x <<= 3

print(x)

40

## Python Comparison Operators

In [22]:
x = 5
y = 3

print(x == y)

False

In [23]:
x = 5
y = 3

print(x != y)

True

In [24]:
x = 5
y = 3

print(x > y)

True

In [25]:
x = 5
y = 3

print(x < y)

False

In [26]:
x = 5
y = 3

print(x >= y)

True

In [27]:
x = 5
y = 3

print(x <= y)

False

## Python Logical Operators

In [28]:
x = 5

print(x > 3 and x < 10)

True

In [29]:
x = 5

print(x > 3 or x < 4)

True

In [30]:
x = 5

print(not(x > 3 and x < 10))

False

## Python Identity Operators

In [31]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [33]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
False

## Python Membership Operators

In [34]:
x = ["apple", "banana"]

print("banana" in x)

True

In [35]:
x = ["apple", "banana"]

print("banana" not in x)

False

## Python Bitwise Operators

In [36]:
bin(10)

'0b1010'

In [40]:
x = 5
y = 3

print(x & y)

1

In [41]:
x = 5
y = 3

print(x | y)

7

In [42]:
x = 5
y = 3

print(x ^ y)

6

In [43]:
x = 5
y = 3

print(x << y)

40

In [44]:
x = 5
y = 3

print(x >> y)

0

# Control Flow

## Python If ... Else

### Python Condition and If statements

In [1]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Elif

In [2]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### Else

In [3]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Short Hand If

In [5]:
if a > b: print("a is greater than b")

a is greater than b

### Short Hand If ... Else

In [6]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [7]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

### And

In [8]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### Or

In [9]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

### Nested If

In [10]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### The Pass statement

In [11]:
a = 33
b = 200

if b > a:
  pass

## Python While Loops

### The while Loop

In [12]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### The break statements

In [13]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### The continue statements

In [14]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### The else statement

In [15]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## Python For Loops

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

### Looping Through a String

In [17]:
for x in "banana":
  print(x)

b
a
n
a
n
a

### The break statement

In [18]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

### The continue statement

In [20]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### The range() Function

In [21]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [22]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [23]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

### Else in For Loop

In [24]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [25]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

### Nested Loops

In [26]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### The pass Statement

In [27]:
for x in [0, 1, 2]:
  pass

## Python Function

### bikin function

In [28]:
def my_function():
  print("Hello from a function")

### manggil function

In [29]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

### argumen

In [30]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

### number of argument

In [31]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

### abitarity arguments, *args

In [32]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

### keyword arguments

In [33]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

### arbitrary keyword arguments, **kwargs

In [34]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

## Default Parameter Value

In [35]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

### Passing a list as an arguments

In [36]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

### return value

In [37]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

### the pass statement

In [38]:
def myfunction():
  pass

### Recursion

In [39]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21