### Home dan Intro

In [1]:
print("Hello, World!")

Hello, World!

### Python Syntax

In [2]:
#Execute Python Syntax
>>> print("Hello, World!")

Hello, World!

In [3]:
#Python Indentation
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [4]:
#Python Indentation
#Syntax Error
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-4-48a7d7b63bfd>, line 4)

In [5]:
#Jumlah spasi setidaknya satu
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [6]:
#Kesalahan Syntax
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-6-a8f110684631>, line 4)

### PythonComments

In [7]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [11]:
#komentar dapat diakhir baris

print("Hello, World!") #This is a comment

Hello, World!

In [9]:
#Python from executing code

#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [10]:
#Multi Line Comments

#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [12]:
#multiline string (triple quotes)

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [13]:
#multiline string (triple quotes)

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

### Python Variables

In [14]:
#Creating Variables

x = 5
y = "John"
print(x)
print(y)

5
John

In [15]:
#example
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [16]:
#Casting

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [17]:
print(x)
print(y)
print(z)

3
3
3.0

In [18]:
#Get the type() function

x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [19]:
#Single or Double Quotes?

x = "John"
# is the same as
x = 'John'
print(x)

John

In [23]:
#Case-Sensitive

a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

In [21]:
#Legal variable names

myvar = "Andre"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [22]:
print(myvar)

Andre

In [24]:
#Illegal variable names

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-24-d1046ff194ee>, line 3)

In [25]:
#Multi Words Variable Names
#Camel Case

myVariableName = "John"
print(myVariableName)

John

In [26]:
#Pascal Case
MyVariableName = "John"
print(MyVariableName)

John

In [27]:
#Snake Case
my_variable_name = "John"
print(my_variable_name)

John

### Assign Multiple Values

In [28]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [29]:
#One Value to Multiple Variables

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [30]:
#Unpack a Collection
#Unpack a list:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

#### Output Variables

In [31]:
# + karakter
x = "awesome"
print("Python is " + x)

Python is awesome

In [32]:
# + variabel ke variabel lain

x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [33]:
# + sebagai operator matematika
x = 5
y = 10
print(x + y)

15

In [34]:
#jika combine string dan angka python error

x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Global Variables

In [35]:
x = "awesome"

def myfunc():
    print("Python is" + x)
    
myfunc()

Python isawesome

In [36]:
# variabel di dalam fungsi, dengan nama yang sama dengan variabel global

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [37]:
#The global Keyword
#jika menggunakan kata kunci global variabel tsb masuk ke lingkup global

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [38]:
#gunakan kata kunci global jika ingin mengubah variabel global di dalam suatu fungsi

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

### Python Data Types

In [39]:
#Getting the Data Type
x = 5
print(type(x))

<class 'int'>

In [40]:
#Data Type Str
x = "Hello World"
#display x:
print(x)

#display the data type of x
print(type(x))

Hello World
<class 'str'>

In [41]:
#Int
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [42]:
#float
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [43]:
#complex
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [44]:
#list
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [45]:
#Tuple
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [46]:
#Range
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [47]:
#Dict
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [48]:
#set
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [49]:
#set
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [50]:
#frozenset
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [51]:
#Bool
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [52]:
#Bytes
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [53]:
#Bytearray
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [54]:
#memoryview
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x00000164EB26ED00>
<class 'memoryview'>

### Python Numbers

In [55]:
#numeric types in python
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [56]:
#numeric Int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [57]:
#numeric floats
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [1]:
#scientific numbers with an "e" to indicate the power of 10
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [2]:
#numeric complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [3]:
#Type Conversion
#int(), float(), and complex()
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### Python Casting

In [7]:
#Specify a Variable Type
#int(), float(), and str()
#Integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print (x)
print (y)
print (z)

1
2
3

In [8]:
#Floats
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print (x)
print (y)
print (z)

1.0
2.8
3.0

In [9]:
#String
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print (x)
print (y)
print (z)

s1
2
3.0

## Python String

In [10]:
#print() function
print("Hello")
print('Hello')

Hello
Hello

In [11]:
#Assign String to a Variable
a = "Hello"
print(a)

Hello

In [12]:
#Multiline Strings
#You can use three double quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [13]:
#Or three single quotes
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [14]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [15]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [16]:
#String Length
#len() function
a = "Hello, World!"
print(len(a))

13

In [17]:
#Check String (free)
txt = "The best things in life are free!"
print("free" in txt)

True

In [18]:
#if free
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [19]:
#Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [20]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [21]:
#Slicing
b = "Hello, World!"
print(b[2:5])

llo

In [22]:
#Slice From the Start
b = "Hello, World!"
print(b[:5])

Hello

In [23]:
#Slice To the End
b = "Hello, World!"
print(b[2:])

llo, World!

In [24]:
#Negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

#### Modify Strings

In [25]:
#Upper Case upper()

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [26]:
#Lower Case the lower()

a = "Hello, World!"
print(a.lower())

hello, world!

In [27]:
#Remove Whitespacen the strip()

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [28]:
#Replace String the replace()

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [29]:
#Split String the split()

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

#### String Concatenation

In [30]:
#Merge variable a with variable b into variable c
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [31]:
#To add a space between them, add a " "
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

#### Format Strings

In [32]:
#format error
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [33]:
#the format()
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [34]:
#format() dalam jumlah tak terbatas
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [35]:
#menggunakan indeks {0}
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

#### Escape characters

In [36]:
#illegal character s a ""

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-36-7ae5e939172f>, line 3)

In [38]:
#the escape character \"

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

#### Code Escape Characters

In [39]:
# \'' (single Quote)
txt = 'It\'s alright.'
print(txt)

It's alright.

In [40]:
# \\ Backslash
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [41]:
# \n New Line
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [42]:
# \r Carriage Return
txt = "Hello\rWorld!"
print(txt)

World!

In [43]:
# \t Tab
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [44]:
# \b Backspace
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [45]:
# \f Form Feed

In [46]:
# \ooo Octal value
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [47]:
# \xhh Hex value
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

## Python Boolean

In [49]:
#True or false
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [50]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

#### Evaluate Values and Variables

In [53]:
#The bool() function
#Evaluate a string and a number
print(bool("Hello"))
print(bool(15))

True
True

In [54]:
#Evaluate two variables
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

#### Most Values are True

In [55]:
#Any list, tuple, set, and dictionary are True, except empty ones.
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [56]:
#The following will return False
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [57]:
#kelas dengan __len__fungsi yang mengembalikan 0atau False
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

#### Functions can Return a Boolean

In [58]:
#Print the answer of a function
def myFunction() :
  return True

print(myFunction())

True

In [59]:
#Print "YES!" if the function returns True, otherwise print "NO!"
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [60]:
#Check if an object is an integer or not
x = 200
print(isinstance(x, int))

True

## Python Operators

In [61]:
# the + operator
print(10 + 5)

15

#### Python Arithmetic Operators

In [62]:
# + addition
x = 5
y = 3
print(x + y)

8

In [63]:
# - Subtraction
x = 5
y = 3
print(x - y)

2

In [64]:
# * Multiplication
x = 5
y = 3
print(x * y)

15

In [66]:
# / Division
x = 12
y = 3
print(x / y)

4.0

In [67]:
# % Modulus
x = 5
y = 2

print(x % y)

1

In [69]:
# ** Exponentiation
x = 5
y = 2

print(x ** y)

25

In [70]:
# // Floor division
x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

#### Python Assignment Operators

In [71]:
# =
x = 5
print(x)

5

In [72]:
# += 
x = 5
x += 3
print(x)

8

In [73]:
# -=
x = 5
x -= 3
print(x)

2

In [74]:
# *=
x = 5
x *= 3
print(x)

15

In [75]:
# /=
x = 5
x /= 3
print(x)

1.6666666666666667

In [77]:
# %=
x = 5
x %= 3
print(x)

2

In [78]:
# //=
x = 5
x //= 3
print(x)

1

In [79]:
# **=
x = 5
x **= 3
print(x)

125

In [80]:
# &=
x = 5
x &= 3
print(x)

1

In [81]:
# |=
x = 5
x |= 3
print(x)

7

In [82]:
# ^=
x = 5
x ^= 3
print(x)

6

In [83]:
# >>=
x = 5
x >>= 3
print(x)

0

In [84]:
# <<=
x = 5
x <<= 3
print(x)

40

#### Python Comparison Operators

In [85]:
# == Equal
x = 5
y = 3

print(x == y)
# returns False because 5 is not equal to 3

False

In [86]:
# != Not Equal
x = 5
y = 3

print(x != y)
# returns True because 5 is not equal to 3

True

In [87]:
# > Greater than
x = 5
y = 3

print(x > y)
# returns True because 5 is greater than 3

True

In [88]:
# < Less than
x = 5
y = 3

print(x < y)
# returns False because 5 is not less than 3

False

In [89]:
# >= Greater than or equal to
x = 5
y = 3

print(x >= y)
# returns True because five is greater, or equal, to 3

True

In [90]:
# <= Less than or equal to
x = 5
y = 3

print(x <= y)
# returns False because 5 is neither less than or equal to 3

False

#### Python Logical Operators

In [91]:
# is, Returns True if both variables are the same object

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
# returns True because z is the same object as x

print(x is y)
# returns False because x is not the same object as y, even if they have the same content

print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to

True
False
True

In [92]:
# is not, Returns True if both variables are not the same object

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
# returns False because z is the same object as x

print(x is not y)
# returns True because x is not the same object as y, even if they have the same content

print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

#### Python Membership Operators

In [93]:
# in, Returns True if a sequence with the specified value is present in the object
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [94]:
# not in, 	Returns True if a sequence with the specified value is not present in the object
x = ["apple", "banana"]

print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True

## Python List

In [95]:
#List
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [96]:
#Allow Duplicates

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [97]:
# List Length

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [98]:
# List Items - Data Types

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [99]:
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [101]:
#A list can contain different data types
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [102]:
#type()
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [103]:
# The list() Constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

#### Access List Items

In [104]:
# Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [105]:
# Negative Indexing
#-1 refers to the last item, -2 refers to the second last item etc.

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [106]:
# Range of Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [107]:
#By leaving out the start value, the range will start at the first item
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [108]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [109]:
#Range of Negative Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [116]:
#Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [112]:
#Change a Range of Item Values
#Example1
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [113]:
#example2
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [114]:
#example3 
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [120]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#### Add List Items

In [121]:
#Append Items,  the append()
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [119]:
#Insert Items, The insert()
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [123]:
#Extend List, the elements of tropical to thislist
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [124]:
#Add Any Iterable, Add elements of a tuple to a list
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

#### Remove List Items

In [125]:
#Remove Specified Item, The remove()

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")

print(thislist)

['apple', 'cherry']

In [126]:
#Remove Specified Index, The pop()
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)

print(thislist)

['apple', 'cherry']

In [127]:
#f you do not specify the index, the pop() method removes the last item
thislist = ["apple", "banana", "cherry"]
thislist.pop()

print(thislist)

['apple', 'banana']

In [128]:
#The del keyword also removes the specified index
thislist = ["apple", "banana", "cherry"]
del thislist[0]

print(thislist)

['banana', 'cherry']

In [130]:
#The del, keyword can also delete the list completely
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'thislist' is not defined

In [131]:
#Clear the List, The clear()
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#### Loop Lists

In [132]:
#Loop Through a List, a for
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [133]:
#Loop Through the Index Numbers
# Use the range() and len() functions

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [134]:
#Using a While Loop, while dan fungsi Len()

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [135]:
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

#### List Comprehension

In [136]:
#Example

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [137]:
#With list comprehension you can do all that with only one line of code
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [142]:
#The Syntax & Condition (True)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [144]:
#With no if statement
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [145]:
#Iterable, range() function to create an iterable

newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
#Same example, but with a condition
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [147]:
#Expression
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [148]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [149]:
#The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

#### Sort Lists

In [150]:
#Sort(), List Alphanumerically
#Sort the list alphabetically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [151]:
#Sort the list numerically
thislist = [100, 50, 65, 82, 23]

thislist.sort()

print(thislist)

[23, 50, 65, 82, 100]

In [152]:
#Sort List Descending, reverse = True

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [153]:
#example2
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [154]:
#Customize Sort Function, key function
#Sort the list based on how close the number is to 50

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [155]:
#Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [156]:
#Perform a case-insensitive sort of the list
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [157]:
# Reverse Order, The reverse()

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

#### Copy Lists

In [158]:
#Make a copy of a list with the copy() method
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [159]:
#Make a copy of a list with the list() method
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### Join Lists

In [160]:
#Join two list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [161]:
#Append list2 into list1
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [162]:
#Use the extend() method to add list2 at the end of list1
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]