In [9]:
# percabangan python ==> if else
# if
a = 2
b = 3
if a > b:
 print("a lebih besar dari b")

In [8]:
# elif
a = "Hujan"
b = "Mendung"
if a == "Hujan":
  print("Hari ini Hujan ")
elif b == "Mendung":
  print("Hari ini mendung")

Hari ini Hujan

In [10]:
# else
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

a is greater than b

In [46]:
#  AND
# a = 1
# b = 2
# c = 3

# if a < b and b < c:
#  print("A lebih kecil dari B dan B lebih kecil dari C")

a = 5
b = 3
c = 2

if a < b and b < c:
 print("Salah")

In [48]:
# or
a = 5
b = 1
c = 2

if a < b or b < c:
 print("True == benar!")

Salah

In [39]:
# looping

i = 0

while i < 5:
 print(i)
 i+=1
    
    
#

0
1
2
3
4

In [40]:
# while break
a= 1
while a < 6:
  print(a)
  if a == 3:
    break
  a += 1

1
2
3

In [41]:
#  while continue
i = 0
while i < 6:
 i += 1
 if i == 3:
    continue
 print(i)

1
2
4
5
6

In [42]:
# for loop
for a in "Orbit Indonesia":
 print(a)

O
r
b
i
t

I
n
d
o
n
e
s
i
a

In [34]:
# for break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
# for continue