In [5]:
#Penjumlahan
Pisang = 135
Mangga = 245
print(135 + 245)

380

In [22]:
#Pengurangan
bayar = 100000
harga = 75500
kembalian = bayar - harga
print("kembalian Anda adalah ", kembalian)

kembalian Anda adalah  24500

In [24]:
#Perkalian
panjang = 1255
lebar = 74
luas = panjang * lebar
print(luas)

92870

In [10]:
#Pembagian
kue = 16
anak = 4
kuePerAnak = kue / anak
print("Setiap anak akan mendapatkan bagian kue sebanyak ", kuePerAnak)

Setiap anak akan mendapatkan bagian kue sebanyak  4.0

In [11]:
#Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2
print("Sisa bagi dari bilangan ", bilangan1, " dan ", bilangan2, " adalah ", hasil)

Sisa bagi dari bilangan  14  dan  5  adalah  4

In [28]:
#Pangkat
bilangan3 = 8
bilangan4 = 2
hasilPangkat = bilangan3 ** bilangan4
print(hasilPangkat)

64

In [27]:
#fungsi tangga
bilangan1 = 50
bilangan2 = 2

print(bilangan1 // bilangan2)

25

In [29]:
x = 5
print(x)

5

In [33]:
x = 2
x += 23
print(x)

25

In [35]:
x = 2
x -= 11
print(x)

-9

In [37]:
x = 243
x *= 23
print(x)

5589

In [40]:
x = 25
x /= 2
print(x)

12.5

In [46]:
x = 100
x%=7
print(x)

2

In [49]:
x = 78
x//=8
print(x)

9

In [50]:
x = 5
x **= 7
print(x)

78125

In [52]:
x = 5
x &= 2
print(x)

0

In [55]:
x = 5
x |= 2
print(x)

7

In [57]:
x = 5
x ^= 2
print(x)

7

In [59]:
x = 19
x >>= 2
print(x)

4

In [62]:
x = 1
x <<= 5
print(x)

32

In [70]:
x = 2
y = 2
print(x==y)
print("x sama dengan y")

True
x sama dengan y

In [71]:
x = 8
y = 2
print(x != y)
print("x tidak sama dengan y")

True
x tidak sama dengan y

In [73]:
x = 7
y = 4
print(x > y)
print("x lebih besar dari y")

True
x lebih besar dari y

In [75]:
x = 7
y = 2
print(x < y)
print("x lebih besar dari y")

False
x lebih besar dari y

In [76]:
x = 5
y = 2
print(x >= y)
print("x lebih besar sama dengan y")

True

In [77]:
x = 2
y = 7
print(x <= y)
print("x lebih kecil sama dengan y")

True
x lebih kecil sama dengan y

In [79]:
x = 3
print(x > 2 and x < 9)

True

In [81]:
x = 5
print(x > 1 or x < 6)

True

In [82]:
x = 5
print(not(x > 3 and x < 10))

False

In [86]:
phi  = 3.14
r = 21
L = phi * (r * r)

print("luas lingkaran adalah", L)

luas lingkaran adalah 1384.74

In [90]:
phi  = 3.14
r = 3
V = 4/3 * phi * (r * r * r)

print("volume lingkaran adalah", V)

volume lingkaran adalah 1436.0266666666666

In [106]:
#if statements
>>> x = int(input("Please enter an integer: "))
>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')

Please enter an integer: 0
Zero

In [118]:
#for loop
print("loop 1")
for i in range(5): # default - start at 0, increment by 1
    print(i)

print("\nloop 2")
for i in range(10, 2, -2): # inputs are start, stop, step
    print(i)

loop 1
0
1
2
3
4

loop 2
10
8
6
4

In [119]:
#while
i = 1
while i < 100:
    print(i**2)
    i += i**2  # a += b is short for a = a + b

1
4
36
1764