## Python Home

In [1]:
print("Hello, World!")

Hello, World!

## Python Intro

In [2]:
print("Hello, World!")

Hello, World!

## Python Get Started

In [3]:
!python --version

Python 3.6.4 :: Anaconda, Inc.

## Python Syntax

In [4]:
# Indentation
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [5]:
## Error Indentation
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-5-928697c350cf>, line 3)

In [6]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [7]:
if 5 > 2:
    print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (<ipython-input-7-a5cde24eb8cd>, line 3)

## Python Comment

In [8]:
##This is a comment.
print("Hello, World!")

Hello, World!

In [9]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [10]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## Python Variable

In [11]:
##Python Variable
x = 5
y = "Hello, World!"

In [12]:
# Membuat Variabel
x = 5
y = "John"
print(x)
print(y)

5
John

In [13]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [14]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [15]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [16]:
x = "John"
# is the same as
x = 'John'

In [17]:
#Ini akan membuat 2 variabel yang berbeda karena python mempunyai case sensitive
a = 4
A = "Sally"
#A will not overwrite a

In [18]:
# Legal Variable
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [19]:
# Illegal Variable
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-19-65f028c4f7da>, line 2)

## Python Data Types
**Text Type**: 	str
<br>
**Numeric Types**: 	int, float, complex
<br>
**Sequence Types**: 	list, tuple, range
<br>
**Mapping Type**: 	dict
<br>
**Set Types**: 	set, frozenset
<br>
**Boolean Type**: 	bool
<br>
**Binary Types**: 	bytes, bytearray, memoryview

In [20]:
# Mendapatkan tipe data
x = "Hello World"
print(type(x))
x = 5
print(type(x))
x = 20.5
print(type(x))
x = 1j
print(type(x))
x = ["apple", "banana", "cherry"]
print(type(x))
x = ("apple", "banana", "cherry")
print(type(x))
x = range(6)
print(type(x))
x = {"name" : "John", "age" : 36}
print(type(x))
x = {"apple", "banana", "cherry"}
print(type(x))
x = frozenset({"apple", "banana", "cherry"})
print(type(x))
x = True
print(type(x))
x = b"Hello"
print(type(x))
x = bytearray(5)
print(type(x))
x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

## Python Operators
Python divides the operators in the following groups:

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

In [21]:
# Contoh operator Aritmatik
print(10 + 5) #tambah
print(10 - 5) #kurang
print(10 * 5) #kali
print(10 / 5) #bagi
print(10 % 5) #modulus
print(10 // 5) #Floor Division
print(10 ** 5) #pangkat

15
5
50
2.0
0
2
100000

In [22]:
# Contoh operator Assignment
x = 5
x += 3
x -= 3
x *= 3
x /= 3
x %= 3
x //= 3
x **= 3

x = 5
x &= 3

x |= 3
x ^= 3
x >>= 3
x <<= 3

In [23]:
# Contoh operator comparison
x = 5
y = 9
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

In [24]:
# Contoh Operator Logical
print(x < 5 and  x < 10) # Returns True if both statements are true
print(x < 5 or x < 4) #Returns True if one of the statements is true
print(not(x < 5 and x < 10)) #Reverse the result, returns False if the result is true

False
False
True

In [25]:
# Contoh Operator Identity
x = 5
x = 9
print(x is y)
print(x is not y)

True
False

In [26]:
# Contoh Operator Membership
x = 8
y = [1,2,6,2,8,1,29,3]
print(x in y)
print(x not in y)

True
False

In [27]:
# Contoh Operator Bitwise
print(5&9)
print(5|9)
print(5^9)
print(~9)
print(5<<9)
print(5>>9)

1
13
12
-10
2560
0

## Python List

In [28]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [29]:
print(len(thislist))

5

In [30]:
# List Item - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [31]:
# List Item - Different Data Types
list1 = ["abc", 34, True, 40, "male"]

In [32]:
print(type(thislist))
print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [33]:
# mengubah item pada list
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [34]:
# menambah item pada list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [35]:
# mengakses item list
thislist = ["apple", "banana", "cherry"] 
print(thislist[1]) #index 1(positif) dari kiri ke kanan
print(thislist[-1]) #index -1(negatif) dari kanan ke kiri

banana
cherry

In [36]:
# mengakses list dari berdasarkan range
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [37]:
# menghapus item list
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [38]:
# Perulangan pada list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [39]:
# List Comprehension

##without list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist) 

##with list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

## Python Tuple
Item pada tuple tidak bisa diubah atau diganti

In [40]:
# membuat tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

## Python Set

In [41]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

## Python Dictionary

In [42]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [43]:
print(thisdict["brand"])

Ford