# Python Operators

## Python Arithmetic Operators

### Addition

In [1]:
x= 3
y= 5

print(x+y)

8

### Substraction

In [2]:
x= 3
y= 5

print(x-y)

-2

### Multiplication

In [4]:
x= 3
y= 5

print(x*y)

15

### Division

In [5]:
x= 3
y= 5

print(x/y)

0.6

### Modulus

In [9]:
x= 5
y= 5

print(x%y)

0

### Exponentiation

In [12]:
x= 5
y= 2

print(x**y) #(== 5^2)

25

### Floor Division

In [14]:
x= 3
y= 5

print(x//y) #Pembulatan ke angka bulat terdekat

0

## Python Assignment Operators

### (=)

In [15]:
x= 5
print(x)
x= 6
print(x)
#Beware of overwritting

5
6

### Plus Equals (+=)

In [16]:
x=5
x+=3
print(x) #Equal to x= x+3

8

### Minus Equals (-=)

In [18]:
x=5
x-=3
print(x) #Equal to x= x-3

2

### *=

In [19]:
x= 5
x*= 2
print(x) #Equal to x= x*2

10

### /=

In [20]:
x= 6
x/= 2
print(x) #Equal to x= x/2

3.0

### %=

In [21]:
x= 6
x%= 6
print(x) #Equal to x= x%2

0

### //=

In [23]:
x= 5
x//= 2
print(x) #Equal to x= x//2

2

### **=

In [24]:
x= 5
x**= 2
print(x) #Equal to x= x^2

25

### &=

In [26]:
#Conducts 'AND' operation on an binary form of the numbers
x= 7
x&=4
print(x)
'''
0111
0100
------ &
0100 = 4
'''

4

### |=

In [28]:
#Conducts 'OR' operation on an binary form of the numbers
x=3
x|=2
print(x)
'''
0011
0010
----- (OR)
0011 = 3
'''

3

'\n0011\n0010\n----- (OR)\n0011 = 3\n'

### ^=

In [29]:
#Conducts 'XOR' or 'Exclusive Or' operation on an binary form of the numbers
x= 7
x^=2
print(x)
'''
0111
0010
----- (OR)
0101 = 5
'''

5

### >>=

In [30]:
x= 7
x>>=2
print(x)
'''
Shift x's bits to the right by 2
0111 ->0001 == 1
'''

1

### <<=

In [32]:
x= 1
x<<=2
print(x)
'''
Shift x's bits to the left by 2
0001 -> 0100 == 4
'''

4

"\nShift x's bits to the left by 2\n0111 -> 1100\n"

## Python Comparison Operators

### Equal

In [33]:
x= 1
y= 2
z= 2
print(x==y, y==z)
#x==y is false because x is not equal to y

False True

### != Inequality

In [34]:
x= 1
y= 2
z= 2
print(x!=y, y!=z)
#x!=y is true because x is not equal to y

True False

### > (Larger than)

In [36]:
x= 1
y= 2
z= 2
print(x>y, y>z, y>x)
#x>y is false because x is not larger to y. y>x is true because y is larger than 
#x

False False True

### < (Less than)

In [38]:
x= 1
y= 2
z= 2
print(x<y, y<z)
#x<y is true because x is less than y

True False

### >= (Larger than / equal to)

In [39]:
x= 1
y= 2
z= 2
print(x>=y, y>=z)
#y>=z is true because y is equal to z but not less than z

False True

### <= (Smaller than / equal to)

In [40]:
x= 1
y= 2
z= 2
print(x<=y, y<=z)
#x<=y is true because x is less than y. z<=y because z is equal to y but 
#not more than y

True True

## Python Logical Operators

### and

In [44]:
#Returns true if both statements are true
x= 3
print(x>2 and x<5)

print(x<2 and x<5)

True
False

### or

In [46]:
#Returns true if either statement is true
x= 4
print(x>5 or x<6)

True

### not

In [47]:
#Reverses the results of statements
x=7
print(not(x>3 or x<10))

False

## Python Identity Operators

### Is

In [51]:
x=["a","b","c"]
y=["a","b","c"]
z=x
print(x is y) #False due to not the same object despite same contents
print(x is z) #true due to the same objects

False

### Is not

In [52]:
x=["a","b","c"]
y=["a","b","c"]
z=x
print(x is not y) #True due to not the same object despite same contents
print(x is not z) #False due to the same objects

True
False

## Python Membership Operators

### In

In [55]:
x= ["a", "b"]
print ('a' in x)
#True due to a value 'a' in the list 'x'

print ('c' in x) #False due to value 'c' not in the list 'x'

True
False

In [57]:
x= ["a", "b"]
print ('a' not in x)
#False due to a value 'a' in the list

print ('c' not in x)
#True due to value 'c' not in the list 'x'

False
True