# Python Operators

In [1]:
print(10 + 5)

15

In [2]:
x = 12
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y)
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

15
9
36
4.0
0
1728
4
False
True
True
False
True
False

In [3]:
x = 5
print (x)
print (x + 3)
print (x - 3)
print (x * 3)
print (x / 3)
print (x % 3)
print (x // 3)
print (x ** 3)
print (x & 3)
print (x | 3)
print (x ^ 3)
print (x >> 3)

5
8
2
15
1.6666666666666667
2
1
125
1
7
6
0

In [4]:
x = 5

print(x > 3 and x < 10)
print(x > 3 or x < 4)
print(not(x < 5 and x < 10))

True
True
True

In [5]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)
print(x is not z)
print(x is not y)
print(x != y)
print("banana" in x)
print("pineapple" not in x)

True
False
True
False
True
False
True
True

# Python If....Else

In [6]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [7]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block (<ipython-input-7-4276c1871af7>, line 4)

In [8]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [9]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [10]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [11]:
if a > b: print("a is greater than b")

a is greater than b

In [12]:
if a > b: print("a is greater than b")

a is greater than b

In [13]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [15]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [16]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [17]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# Python While Loops

In [18]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [19]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [20]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [21]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops

In [22]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [23]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [24]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [25]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [26]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [27]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [28]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [29]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [30]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [31]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [32]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [35]:
for x in [0, 1, 2]:
  pass # having an empty for loop like this, would raise an error without the pass statement