In [1]:
#disini kita akan belajar Python Data Types, ada beberapa tipe data yang akan kita sebutkan :

#Text Type:	str
#Numeric Types:	int, float, complex
#Sequence Types:	list, tuple, range
#Mapping Type:	dict
#Set Types:	set, frozenset
#Boolean Type:	bool
#Binary Types:	bytes, bytearray, memoryview

In [2]:
#kita akan belajar tipe data yang akan kita pelajari yaitu Getting the Data Type 
x = 5
print(type(x))
#disini perintah akan mengambil sebuah class tipe data

<class 'int'>

In [6]:
#kita akan belajar tipe data yang akan kita pelajari yaitu Setting the Data Type 
"""
Contoh :
x = "Hello World"	str
x = 20	int
x = 20.5	float
x = 1j	complex
x = ["apple", "banana", "cherry"]	list
x = ("apple", "banana", "cherry")	tuple
x = range(6)	range
x = {"name" : "John", "age" : 36}	dict
x = {"apple", "banana", "cherry"}	set
x = frozenset({"apple", "banana", "cherry"})	frozenset
x = True	bool
x = b"Hello"	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview
"""
#kita boleh mencoba nya jika kita ingin memakai Tipe Data itu
#sebagai contoh :
x = ["apple", "banana", "cherry"]
print(type(x))
#perintah tersebut akan memanggil class nya masing-masing

<class 'list'>

In [7]:
#kita akan belajar tipe data yang akan kita pelajari yaitu Setting the Specific Data Type
"""
contoh :
x = str("Hello World")	str
x = int(20)	int
x = float(20.5)	float
x = complex(1j)	complex
x = list(("apple", "banana", "cherry"))	list
x = tuple(("apple", "banana", "cherry"))	tuple
x = range(6)	range
x = dict(name="John", age=36)	dict
x = set(("apple", "banana", "cherry"))	set
x = frozenset(("apple", "banana", "cherry"))	frozenset
x = bool(5)	bool
x = bytes(5)	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview
"""
#kita boleh mencoba nya jika kita ingin memakai Tipe Data itu
#sebagai contoh :
x = list(("apple", "banana", "cherry"))
print(type(x))
#perintah tersebut akan memanggil class nya masing-masing

<class 'list'>